@media (min-width: 768px) {
  .mainMenu__titleBar{
    border-bottom: 12px solid #30A9DE;
  }
  .mainMenu__element strong {
    font-size: 90px;
  }
  .mainMenu__element--kitchen::after
  {
    border-right: 12px solid #30A9DE;
    border-bottom: 12px solid #30A9DE
  }
  .mainMenu__element--kitchen::before{
    border-left: 12px solid #30A9DE;
    border-top: 12px solid #30A9DE;
  }
  .mainMenu__element--recipes::after
  {
    border-right: 12px solid #329d52;
    border-bottom: 12px solid #329d52;
  }
  .mainMenu__element--recipes::before{
    border-left: 12px solid #329d52;
    border-top: 12px solid #329d52;
  }
  .mainMenu__element--toDo::after
  {
    border-right: 12px solid #7200da;
    border-bottom: 12px solid #7200da;
  }
  .mainMenu__element--toDo::before{
    border-left: 12px solid #7200da;
    border-top: 12px solid #7200da;
  }
  .mainMenu__logOut{
    border: 12px solid #30A9DE;
  }

}