$background-opacity: rgba(255, 255, 255, 0.3);
$color-blue: #30A9DE;
$color-yellow: #EFDC05;
$color-red: #f9320c;
$color-black: #090707;

$hover_mainColor: #30A9DE;



$fontSize-labelMain: 26px;


$color-shadow: #566270
