
$background-opacity: rgba(255, 255, 255, 0.3);
$background-colorMain: #252839;
$color-blue: #30A9DE;
$color-yellow: #EFDC05;
$color-red: #f9320c;
$color-black: #090707;
$color-grey: #1F2124;
$color-green: #329d52;
$color-purple: #7200da;


$textShadow-blue: 0 0 2px $color-blue;
$textShadow-green: 0 0 2px $color-green;
$textShadow-purple: 0 0 2px $color-purple;

$fontFamily-title: 'Odibee Sans', cursive;
$color-vegetables: #75D701;
$color-meat: #ef5285;
$color-dairy: #2EC4B6;
$color-sugar: #f100e5;
$color-fruits: #f9a11b;
$color-frozenFood:#0080ff;
$color-drinks: #f9320c;//#379392;
$fontColor-dark: #221d1c;
$color-pink: #d62a9d;
$fontSize-labelMain: 26px;
$color-shadow: #566270
