.mainMenu {
  width: 100%;
  height: 700px;
  color: $color-green;

  &__titleBar {
    height: 120px;
    font-size: 50px;
    text-transform: uppercase;
    //font-weight: bold;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px $color-green;
    background: $background-colorMain;
    color: $color-grey;
    border-bottom: 7px solid $color-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: $textShadow-green;

    h1 {
      position: relative;
      margin-bottom: 5px;

      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: $color-green;
        border-right: 4px solid $color-green;
        overflow: hidden;
        animation: titleAnimation 6s linear infinite alternate;
      }
    }

    h2 {
      position: relative;
      margin-bottom: 5px;

      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: $color-green;
        border-right: 4px solid $color-green;
        overflow: hidden;
        animation: titleAnimation 6s linear infinite alternate;
      }
    }
  }

  &__element {
    width: 90%;
    height: 168px;
    margin: 60px auto;
    position: relative;
    background: rgba(255, 255, 255, 0.1);;
    display: flex;
    justify-content: center;
    align-items: center;
  overflow: hidden;
    border-radius: 5px;
    animation: showEffect 0.6s forwards;
    strong {
      font-size: 41px;
      color: $color-green;
      font-weight: bold;
      text-decoration: none;
      padding: 40px;
    }
    :focus{
      background: red;
    }

    &::before {
      @include corners("leftTop",  $color-green, 80px, 7px);
    }

    &::after {
      @include corners("rightBot", $color-green, 80px, 7px);
    }
  }

  &__logOut {
    font-size: 62px;
    width: 100px;
    height: 100px;
    border: 7px solid $color-green;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $textShadow-green;
    border-radius: 5px;
  }
}
.animatedRedirect--homePage{
  overflow: hidden;
   animation: redirectAnimation--homePage 0.5s forwards;
}
@keyframes titleAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes redirectAnimation--homePage {
  0%{
   box-shadow: 0 0 2px $color-green inset;
  }
  100%{
    box-shadow: 0 100px $color-green inset,
    100px 0 $color-green inset,
    0 -100px $color-green inset,
     -100px 0 $color-green inset;
    -webkit-text-stroke: 1px $color-grey;
  }
}
