.addRecipe {

  &__title {
    border-bottom: 4px solid $color-green;
    color: $color-green;
    @include mobileXL {
      border-bottom: 5px solid $color-green;
    }
    @include tablet {
      border-bottom: 7px solid $color-green;
    }
    @include laptopS {
      border-bottom: 4px solid $color-green;
    }
    @include laptopL {
      border-bottom: 6px solid $color-green;
    }
    @include desktopS {
      border-bottom: 9px solid $color-green;
    }
  }
  &__step {
    width: 100%;
    margin-top: 13px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    font-size: 10px;
    margin-top: 14px;
    @include mobileM {
      font-size: 11px;
    }
    @include mobileL {
      font-size: 13px;
      margin-top: 19px;
    }
    @include tablet {
      font-size: 16px;
      margin-top: 22px;
    }
    @include laptopS {
      font-size: 10px;
      margin-top: 11px;
    }
    @include laptopL {
      font-size: 12px;
      margin-top: 26px;
    }
    @include laptopXL {
      font-size: 13px;
    }
    @include desktopS {
      font-size: 14px;
      margin-top: 32px;
    }
  }
  &__label {
    width: 100%;
    font-size: 1.8em;
    padding-bottom: 0.3em;
    border-bottom: 2px solid $color-green;
    margin-bottom: 0.8em;
    @include tablet {
      border-bottom: 3px solid $color-green;
    }
    @include laptopS {
      border-bottom: 2px solid $color-green;
    }
    @include laptopL {
      border-bottom: 3px solid $color-green;
      font-size: 1.9em;
    }
    @include desktopS {
      border-bottom: 4px solid $color-green;
      font-size: 2em;
    }
  }
  &__subLabel {
    display: block;
    font-size: 1.5em;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    text-decoration: underline;
    text-decoration-color: $color-green;
    @include laptopS {
      font-size: 1.8em;
      margin-top: 0.5em;
      margin-bottom: 0.4em;
    }
  }
  &__input {
    width: 100%;
    font-size: 1.6em;
    border: none;
    box-shadow: 0 0 7px rgb(82, 78, 78);
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.063rem;
    word-spacing: 0.063rem;
    resize: none;
    margin-bottom: 4px;
    padding: 1px 3px;
    &:focus {
      box-shadow: 0 0 7px 2px $color-green;
    }
    @include mobileL {
      border-radius: 7px;
      padding: 3px 5px;
    }
    @include tablet {
      border-radius: 10px;
      padding: 5px 10px;
      margin-bottom: 9px;
    }
    @include laptopS {
      padding: 3px 7px;
      border-radius: 5px;
    }
    @include laptopL {
      border-radius: 8px;
      padding: 4px 8px;
    }
    @include laptopXL {
      padding: 4px 10px;
    }
    @include desktopS {
      padding: 7px 10px;
    }
    &--ingredientAmount {
      width: 30%;
    }
    &--small {
      height: 30px;
      @include mobileM {
        height: 33px;
      }
      @include mobileL {
        height: 41px;
      }
      @include tablet {
        height: 57px;
      }
      @include laptopS {
        height: 37px;
      }
      @include laptopL {
        height: 44px;
      }
      @include laptopXL {
        height: 47px;
      }
      @include desktopS {
        height: 54px;
      }
    }
    &--textarea {
      height: 270px;
      @include mobileL {
        height: 304px;
      }
      @include laptopS {
        height: 170px;
      }
      @include laptopL {
        height: 202px;
      }
      @include laptopXL {
        height: 280px;
      }
      @include desktopS {
        height: 316px;
      }
    }
    &--instruction {
      height: 151px;
      @include mobileL {
        height: 190px;
      }
      @include tablet {
        height: 264px;
      }
      @include laptopS {
        height: 170px;
      }
      @include laptopL {
        height: 202px;
      }
      @include laptopXL {
        height: 280px;
      }
      @include desktopS {
        height: 316px;
      }
    }
    &--notes {
      height: 210px;
      @include mobileL {
        height: 330px;
      }
      @include laptopS {
        height: 260px;
      }
      @include laptopL {
        height: 299px;
      }
      @include laptopXL {
        height: 357px;
      }
      @include desktopS {
        height: 395px;
      }
    }
  }
  &__btn {
    border: none;
    width: 100%;
    color: $color-white;
    font-weight: bold;
    letter-spacing: 0.063rem;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 0;
    transition: 0.2s;
    &:hover {
      @include onlyOnDesktop {
        letter-spacing: 0.125rem;
      }
    }

    @include mobileM {
      font-size: 21px;
      padding: 6px 0;
    }
    @include mobileL {
      font-size: 23px;
      padding: 8px 0;
      border-radius: 8px;
    }
    @include tablet {
      font-size: 32px;
      padding: 10px 0;
      border-radius: 10px;
    }
    @include laptopS {
      border-radius: 5px;
      font-size: 23px;
      padding: 6px 0;
    }
    @include laptopM {
      font-size: 24px;
      padding: 7px 0;
    }
    @include laptopL {
      border-radius: 8px;
      font-size: 25px;
      padding: 8px 0;
    }
    @include laptopXL {
      font-size: 28px;
      padding: 10px 0;
    }
    @include desktopS {
      font-size: 30px;
      padding: 12px 0;
      border-radius: 11px;
    }
    &--newItem {
      margin-top: 10px;
      background: #00b09b; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #96c93d, #00b09b); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to left,
        #96c93d,
        #00b09b
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &--nextStep {
      margin-top: 23px;
      background-color: $color-green;
      @include mobileL {
        margin-top: 28px;
      }
      @include tablet {
        margin-top: 37px;
      }
      @include laptopS {
        margin-top: 20px;
      }
      @include laptopL {
        margin-top: 26px;
      }
      @include laptopXL {
        margin-top: 36px;
      }
      @include desktopS {
        margin-top: 39px;
      }
    }
    &--prevStep {
      margin-top: 10px;
      background-color: #22733b;
      @include mobileL {
        margin-top: 15px;
      }
      @include tablet {
        margin-top: 20px;
      }
      @include laptopS {
        margin-top: 9px;
      }
      @include laptopL {
        margin-top: 14px;
      }
      @include laptopXL {
        margin-top: 17px;
      }
      @include desktopS {
        margin-top: 19px;
      }
    }
    &--backToSummary {
      background-color: #ffb703;
      margin-bottom: 20px;
    }
  }
  &__list {
    width: 100%;
    margin-top: 7px;
    font-size: 10px;
    @include mobileM {
      font-size: 11px;
    }
    @include mobileL {
      font-size: 12px;
    }
    @include tablet {
      font-size: 15px;
      margin-top: 11px;
    }
    @include laptopS {
      font-size: 11px;
      margin-top: 2px;
    }
    @include laptopL {
      font-size: 13px;
      margin-top: 5px;
    }
    @include laptopXL {
      font-size: 14px;
    }
    @include desktopS {
      font-size: 15px;
    }
  }
  &__listTitle {
    margin-top: 23px;
    width: 100%;
    font-size: 1.4em;
    @include tablet {
      margin-top: 27px;
    }
    @include laptopS {
      margin-top: 12px;
      font-size: 18px;
    }
    @include laptopL {
      margin-top: 16px;
      font-size: 21px;
    }
    @include laptopXL {
      margin-top: 19px;
      font-size: 22px;
    }
    @include desktopS {
      margin-top: 20px;
      font-size: 24px;
    }
  }
  &__listItem {
    margin-top: 0.6em;
    font-size: 1.5em;
    padding-left: 0.4em;
    text-align: left;
    word-break: break-all;
    span {
      text-decoration: underline;
      text-decoration-color: $color-green;
    }
    i:hover {
      cursor: pointer;
    }
  }
  &__deleteIcon {
    color: $color-red;
    padding-right: 0.4em;
  }
  &__editIcon {
    padding-left: 0.4em;
    &--open {
      color: $color-blue;
    }
    &--close {
      color: $color-red;
    }
  }
  &__editTextarea {
    font-size: 1em;
    height: 103px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    display: block;
    box-shadow: 0 0 7px 2px $color-green;
    resize: none;
    border: none;
    outline: none;
    transition: 0.2s;
    position: relative;
    z-index: 1;
    &:focus {
      box-shadow: 0 0 9px 2px $color-green;
    }
    @include mobileL {
      border-radius: 7px;
      height: 112px;
    }
    @include tablet {
      border-radius: 10px;
      padding: 7px;
      height: 164px;
    }
    @include laptopS {
      border-radius: 5px;
      padding: 5px;
      height: 100px;
    }
    @include laptopL {
      border-radius: 8px;
      padding: 7px;
      height: 120px;
    }
    @include desktopS {
      padding: 8px;
      height: 144px;
    }
  }
  &__closeBtn {
    width: 100%;
    padding: 8px 0 4px 0;
    font-size: 1.1em;
    background: $color-red;
    font-weight: 600;
    letter-spacing: 0.063rem;
    color: $color-white;
    border: none;
    margin-top: -3px;
    border-radius: 0 0 5px 5px;
    transition: 0.2s;
    &:hover {
      @include onlyOnDesktop {
        letter-spacing: 0.125rem;
      }
    }
  }
  &__ingredientUnits {
    margin-top: 8px;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    @include mobileM {
      margin-top: 12px;
      font-size: 11px;
    }
    @include mobileL {
      margin-top: 16px;
      font-size: 13px;
    }
    @include tablet {
      margin-top: 18px;
      font-size: 16px;
    }
    @include laptopS {
      margin-top: 9px;
      font-size: 10px;
    }
    @include laptopL {
      font-size: 12px;
    }
    @include desktopS {
      font-size: 14px;
    }
  }
  &__summaryBtnWrapper {
    width: 100%;
    height: 48px;
    transition: 0.2s;
    &:hover {
      @include onlyOnDesktop {
        letter-spacing: 0.125rem;
      }
    }
    @include mobileL {
      height: 60px;
    }
    @include tablet {
      height: 81px;
    }
    @include laptopS {
      height: 50px;
    }
    @include laptopL {
      height: 62px;
    }
  }
}
.addRecipe__ingredientUnits label {
  font-size: 10px;
  margin: 2px 2px;
  position: relative;
  color: $color-black;
  @include mobileM {
    font-size: 11px;
    margin: 3px 3px;
  }
  @include mobileL {
    font-size: 13px;
    margin: 4px 5px;
  }
  @include tablet {
    font-size: 16px;
    margin: 6px 8px;
  }
  @include laptopS {
    font-size: 11px;
    margin: 3px 2px;
  }
  @include laptopL {
    font-size: 12px;
    margin: 8px 6px;
  }
  @include desktopS {
    font-size: 15px;
    margin: 6px 11px;
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    background: transparent;
    &:hover{
      cursor: pointer;
    }
    &:checked ~ span {
      box-shadow: none;
      background: $color-green;
      color: $color-white;
      font-weight: bold;
      letter-spacing: 0.125rem;
    }
  }
  span {
    font-size: 1.5em;
    padding: 0.3em 0.6em;
    border-radius: 5px;
    z-index: 2;
    display: block;
    border: 3px solid $color-green;
    letter-spacing: 0.063rem;
    transition: 0.1s;
    @include mobileL {
      border-radius: 7px;
    }
    @include tablet {
      border-radius: 10px;
      border: 4px solid $color-green;
    }
    @include laptopS {
      padding: 0.3em 0.9em;
      border-radius: 5px;
      border: 3px solid $color-green;
    }
    @include laptopL {
      padding: 0.4em 0.9em;
      border-radius: 8px;
      border: 4px solid $color-green;
    }
    @include laptopXL {
      padding: 0.5em 1.7em;
      border-radius: 10px;
      border: 5px solid $color-green;
    }
  }
}

.addRecipe__progressContainer {
  text-align: center;
  font-size: 10px;
  margin-top: 14px;
  @include mobileM {
    font-size: 12px;
  }
  @include mobileL {
    font-size: 15px;
  }
  @include tablet {
    font-size: 20px;
    margin-top: 18px;
  }
  @include laptopS {
    font-size: 16px;
    margin-top: 13px;
  }
  @include laptopL {
    font-size: 20px;
    margin-top: 18px;
  }
  @include laptopXL {
    font-size: 22px;
    margin-top: 24px;
  }
  @include desktopS {
    font-size: 23px;
  }
}
.addRecipe__progress {
  font-size: 10px;
  width: 139px;
  margin: 0.7em auto;
  display: flex;
  justify-content: space-around;
  @include mobileM {
    font-size: 11px;
    width: 140px;
    margin-bottom: 10px;
  }
  @include mobileL {
    font-size: 12px;
    width: 162px;
    margin-bottom: 16px;
  }
  @include tablet {
    font-size: 16px;
    width: 217px;
    margin-bottom: 22px;
  }
  @include laptopS {
    font-size: 13px;
    width: 185px;
    margin-bottom: 16px;
  }
  @include laptopL {
    font-size: 15px;
    width: 222px;
    margin-bottom: 18px;
  }
  @include laptopXL {
    font-size: 17px;
    width: 244px;
    margin-bottom: 24px;
  }
  @include desktopS {
    font-size: 19px;
    width: 267px;
    margin-bottom: 27px;
  }
  span {
    display: block;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    border: 1px solid $color-black;
    @include tablet {
      border: 2px solid $color-black;
    }
    @include laptopS {
      border: 1px solid $color-black;
    }
    @include laptopL {
      border: 2px solid $color-black;
    }
  }
  &--1 {
    span:first-child {
      background: $color-green;
      box-shadow: 0 0 5px $color-green;
    }
  }
  &--2 {
    span:first-child,
    span:nth-child(2) {
      background: $color-green;
      box-shadow: 0 0 5px $color-green;
    }
  }
  &--3 {
    span:first-child,
    span:nth-child(2),
    span:nth-child(3) {
      background: $color-green;
      box-shadow: 0 0 5px $color-green;
    }
  }
  &--4 {
    span:first-child,
    span:nth-child(2),
    span:nth-child(3),
    span:nth-child(4) {
      background: $color-green;
      box-shadow: 0 0 5px $color-green;
    }
  }
  &--5 {
    span:first-child,
    span:nth-child(2),
    span:nth-child(3),
    span:nth-child(4),
    span:nth-child(5) {
      background: $color-green;
      box-shadow: 0 0 5px $color-green;
    }
  }
  &--6 {
    span:first-child,
    span:nth-child(2),
    span:nth-child(3),
    span:nth-child(4),
    span:nth-child(5),
    span:nth-child(6) {
      background: $color-green;
      box-shadow: 0 0 5px $color-green;
    }
  }
  &--7 {
    span:first-child,
    span:nth-child(2),
    span:nth-child(3),
    span:nth-child(4),
    span:nth-child(5),
    span:nth-child(6),
    span:nth-child(7) {
      background: $color-green;
      box-shadow: 0 0 5px $color-green;
    }
  }
}
.recipeSummary {
  width: 100%;
  font-size: 10px;
  @include mobileM {
    font-size: 11px;
  }
  @include mobileL {
    font-size: 13px;
  }
  @include tablet {
    font-size: 16px;
  }
  @include laptopS {
    font-size: 13px;
  }
  @include laptopL {
    font-size: 15px;
  }
  @include laptopXL {
    font-size: 16px;
  }
  @include desktopS {
    font-size: 17px;
  }
  &__title {
    font-size: 21px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 3px solid $color-green;
    transition: 0.2s;

    @include mobileM {
      font-size: 23px;
    }
    @include mobileL {
      font-size: 26px;
      padding-bottom: 6px;
      border-bottom: 4px solid $color-green;
    }
    @include mobileXL {
      font-size: 28px;
    }
    @include tablet {
      font-size: 39px;
      border-bottom: 5px solid $color-green;
      padding-bottom: 8px;
    }
    @include laptopS {
      font-size: 26px;
      border-bottom: 3px solid $color-green;
      padding-bottom: 5px;
    }
    @include laptopL {
      font-size: 33px;
      border-bottom: 4px solid $color-green;
      padding-bottom: 7px;
    }
    @include laptopXL {
      font-size: 35px;
      border-bottom: 5px solid $color-green;
      padding-bottom: 8px;
    }
  }
  &__item {
    margin-top: 16px;
    @include tablet {
      margin-top: 24px;
    }
    @include laptopL {
      margin-top: 28px;
    }
  }
  &__itemTitle {
    text-align: center;
    font-size: 1.8em;
    text-decoration: underline;
    text-decoration-color: $color-green;
    transition: 0.2s;
    i {
      padding-left: 0.3em;
      font-size: 0.7em;
    }
    &:hover {
      cursor: pointer;
      @include onlyOnDesktop {
        letter-spacing: 0.125rem;
      }
    }
  }
  &__text {
    font-size: 1.3em;
    margin-top: 0.4em;
    text-align: center;
    word-break: break-all;
    @include tablet {
      margin-top: 0.6em;
    }
  }
  &__list {
    font-size: 10px;
    margin-top: 5px;
    @include mobileM {
      font-size: 11px;
      margin-top: 8px;
    }
    @include mobileL {
      font-size: 13px;
      margin-top: 15px;
    }
    @include tablet {
      font-size: 16px;
      margin-top: 18px;
    }
    @include laptopS {
      font-size: 12px;
      margin-top: 11px;
    }
    @include laptopL {
      font-size: 14px;
      margin-top: 13px;
    }
    @include laptopXL {
      font-size: 16px;
    }
    @include desktopS {
      font-size: 17px;
    }
  }
  &__listItem {
    font-size: 1.3em;
    margin-bottom: 0.4em;
    word-break: break-word;
    span {
      text-decoration: underline;
      text-decoration-color: $color-green;
    }
  }
}
