.addRecipe {
  &__title {
    border-bottom: 4px solid $color-green;
    color: $color-green;

  }
  &__step {
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    z-index: 1;
    height: calc(100% - 34px);
    position: relative;
    font-size: 10px;

    &--fix {
      margin-top: 45px;
      justify-content: flex-start;
    }
  }
  &__label {
    width: 100%;
    font-size: 1.8em;
    padding-bottom: 0.3em;
    border-bottom: 2px solid $color-green;
  }
  &__subLabel {
    display: block;
    font-size: 1.5em;
    margin-top: 0.4em;
    text-decoration: underline;
    text-decoration-color: $color-green;
  }
  &__input {
    width: 100%;
    font-size: 1.6em;
    margin-top: 0.8em;
    border: none;
    box-shadow: 0 0 7px rgb(82, 78, 78);
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.063rem;
    word-spacing: 0.063rem;
    resize: none;
    &:focus {
      box-shadow: 0 0 7px 2px $color-green;
    }
    &--ingredientAmount {
      width: 134px;
    }
    &--small {
      height: 30px;
    }
    &--textarea {
      height: 270px;
    }
    &--instruction {
      height: 151px;
    }
  }
  &__btn {
    border: none;
    width: 100%;
    color: $color-white;
    font-weight: bold;
    letter-spacing: 0.063rem;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 0;
    &--newItem {
      margin-top: 10px;
      background: #00b09b; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #96c93d, #00b09b); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to left,
        #96c93d,
        #00b09b
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &--nextStep {
      margin-top: 23px;
      background-color: $color-green;
    }
    &--prevStep {
      margin-top: 10px;
      background-color: #22733b;
    }
  }
  &__instructionsList {
    width: 100%;
    margin-top: 7px;
    font-size: 10px;
  }
  &__instructionsTitle {
    margin-top: 23px;
    width: 100%;
    font-size: 1.4em;
  }
  &__instruction {
    margin-top: 0.6em;
    font-size: 1.5em;
    padding-left: 0.4em;
    text-align: left;
    word-break: break-all;
    p {
      display: inline-block;
    }
  }
  &__deleteIcon {
    color: $color-red;
    padding-right: 0.4em;
  }
  &__editIcon {
    padding-left: 0.4em;
    &--open {
      color: $color-blue;
    }
    &--close {
      color: $color-red;
    }
  }
  &__editTextarea {
    height: 103px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    display: block;
    box-shadow: 0 0 7px 2px $color-green;
    resize: none;
    border: none;
    outline: none;
    transition: 0.2s;
    position: relative;
    z-index: 1;
    &:focus {
      box-shadow: 0 0 9px 2px $color-green;
    }
  }
  &__closeBtn {
    width: 100%;
    padding: 8px 0 4px 0;
    font-size: 1.1em;
    background: $color-red;
    font-weight: 600;
    letter-spacing: 0.063rem;
    color: $color-white;
    border: none;
    margin-top: -3px;
    border-radius: 0 0 5px 5px;
  }
  &__ingredientUnits{
    margin-top: 8px;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
  }
}
