.recipesList {
  width: 95%;
  margin: 0 auto;
}

.recipesListHeader {
  background: $color-green;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 6px $color-green;
  font-size: 10px;
  letter-spacing: 0.063rem;
  padding: 5px 0;
  @include mobileM {
    font-size: 11px;
    padding: 6px 0;
  }
  @include mobileL {
    font-size: 12px;
    padding: 7px 0;
  }
  @include mobileXL {
    font-size: 13px;
    padding: 8px 0;
  }
  h2 {
    font-size: 3.4em;
    padding-bottom: 0.3em;
  }

  strong {
    font-size: 1.5em;

    i {
      font-style: italic;
      font-weight: 500;
    }
  }
}

.addRecipeBtn {
  color: $color-green;
  width: 51%;
  background: white;
  display: block;
  margin: 3px auto;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  font-size: 25px;
  padding: 2px 0;
  &::before {
    @include corners("rightBot", $color-green, 30%, 4px, 50%);
    @include mobileL {
      border-right: 5px solid $color-green;
      border-bottom: 5px solid $color-green;
    }
  }

  &::after {
    @include corners("leftBot", $color-green, 30%, 4px, 50%);
    @include mobileL {
      border-left: 5px solid $color-green;
      border-bottom: 5px solid $color-green;
    }
  }
  @include mobileM {
    font-size: 27px;
    padding: 4px 0;
  }
  @include mobileXL {
    font-size: 13px;
    padding: 8px 0;
  }
}

.addRecipeBtn__animation {
  &::before {
    animation: animationCorner--addRecipeBtn 0.7s;
  }

  &::after {
    animation: animationCorner--addRecipeBtn 0.7s;
  }
}

.emptyRecipes {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
}

.recipeBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: showEffect 0.8s;

  &:hover {
    cursor: pointer;
  }

  div:first-child {
    font-size: 31px;
    font-weight: bold;
    width: 95%;
    padding: 8px 10px;
    margin: 24px auto 0;
    margin-bottom: 0;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word;
    background: white;
    color: $color-green;
    border: 6px solid $color-green;
    box-shadow: 0 0 5px $color-green inset;
    word-break: break-all;
    @include mobileM {
      font-size: 33px;
      padding: 9px 10px;
    }
    @include mobileL {
      font-size: 37px;
      padding: 11px 12px;
      margin: 33px auto 0;
    }
    @include mobileXL {
      font-size: 41px;
      padding: 13px 16px;
      margin: 38px auto 0;
      box-shadow: 0 0 12px $color-green inset;
    }
  }

  &__products {
    font-weight: bold;
    color: $color-green;
    width: 60%;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 4px 0;
    border-radius: 0 0 5px 5px;
    @include mobileM {
      font-size: 18px;
      padding: 6px 0;
    }
    @include mobileL {
      font-size: 20px;
      padding: 8px 0;
      border-radius: 0 0 6px 6px;
    }
    @include mobileXL {
      font-size: 22px;
      padding: 9px 0;
    }
    .missing {
      color: $color-red;
    }

    &::after {
      @include corners("rightBot", $color-green, 25%, 6px, 50%);
    }

    &::before {
      @include corners("leftBot", $color-green, 25%, 6px, 50%);
    }
  }
}

.animatedRedirect--toSingleRecipe {
  &::after {
    animation: cornerEffect--toSingleRecipe 0.6s forwards;
  }

  &::before {
    animation: cornerEffect--toSingleRecipe 0.6s forwards;
  }
}

.animatedRedirect--toSingleRecipe2 {
  animation: insideEffect--toSingleRecipe 0.8s forwards;
}

@keyframes animationCorner--addRecipeBtn {
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes cornerEffect--toSingleRecipe {
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes insideEffect--toSingleRecipe {
  100% {
    color: white;
    background: $color-green;
  }
}
