.recipes {
  z-index: 1;
}

.recipesType {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipeRedirect {
  border-radius: 5px;
  width: 49%;
  height: 144px;
  overflow: hidden;
  margin-top: 11px;
  position: relative;
  padding: 12px;
  animation: showEffect 0.5s forwards;
  font-size: 20px;
  @include mobileM {
    height: 162px;
    font-size: 23px;
  }
  @include mobileL {
    height: 169px;
    font-size: 27px;
  }
  @include mobileXL {
    height: 174px;
    font-size: 31px;
  }
  @include tablet {
    height: 198px;
    font-size: 36px;
    padding: 16px;
    margin-top: 14px;
  }
  @include laptopS {
    margin-top: 11px;
    height: 146px;
    font-size: 30px;
    padding: 12px;
  }
  @include laptopL {
    margin-top: 19px;
    height: 153px;
    font-size: 32px;
    padding: 14px;
  }
  @include desktopS {
    margin-top: 19px;
    height: 165px;
    font-size: 38px;
    padding: 19px;
    border-radius: 9px;
  }
  &:last-child {
    //flex-grow: 1;
    width: 100%;
  }
  &:hover {
    cursor: pointer;
  }

  &::before {
    @include corners("rightBot", $color-green, 30px, 5px);
  }

  &::after {
    @include corners("rightTop", $color-green, 30px, 5px);
  }

  span {
    &::after {
      @include corners("leftBot", $color-green, 30px, 5px);
    }

    &::before {
      @include corners("leftTop", $color-green, 30px, 5px);
    }
  }

  div {
    color: white;
    width: 100%;
    height: 100%;
    background: $color-green;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobileL {
      border-radius: 8px;
    }
    @include tablet {
      border-radius: 10px;
    }
    @include laptopS {
      border-radius: 5px;
    }
    @include desktopS {
      border-radius: 15px;
    }
  }
}

.animatedRedirect--ToCategory {
  animation: removePadding--ToCategory 0.2s 0.8s forwards;

  &::before {
    animation: cornerEffect--ToCategory 1s ease-in-out forwards;
  }

  &::after {
    animation: cornerEffect--ToCategory 1s ease-in-out forwards;
  }

  span {
    &::after {
      animation: cornerEffect--ToCategory 1s ease-in-out forwards;
    }

    &::before {
      animation: cornerEffect--ToCategory 1s ease-in-out forwards;
    }
  }
}

@keyframes removePadding--ToCategory {
  100% {
    padding: 0;
  }
}

@keyframes cornerEffect--ToCategory {
  100% {
    width: 100%;
    height: 100%;
  }
}

@mixin setRecipeTypeCorners($borderSize, $width) {
  .recipeRedirect span::before {
    border-left: $borderSize solid $color-green;
    border-top: $borderSize solid $color-green;
  }
  .recipeRedirect::after {
    border-right: $borderSize solid $color-green;
    border-top: $borderSize solid $color-green;
  }
  .recipeRedirect span::after {
    border-left: $borderSize solid $color-green;
    border-bottom: $borderSize solid $color-green;
  }
  .recipeRedirect::before {
    border-right: $borderSize solid $color-green;
    border-bottom: $borderSize solid $color-green;
  }
  .recipeRedirect span::before,
  .recipeRedirect span::after,
  .recipeRedirect::after,
  .recipeRedirect::before {
    width: $width;
    height: $width;
  }
}
@include mobileM {
  @include setRecipeTypeCorners(4px, 39px);
}
@include mobileL {
  @include setRecipeTypeCorners(4px, 46px);
}
@include mobileXL {
  @include setRecipeTypeCorners(5px, 61px);
}
@include tablet {
  @include setRecipeTypeCorners(7px, 76px);
}
@include laptopS {
  @include setRecipeTypeCorners(4px, 46px);
}
@include laptopL {
  @include setRecipeTypeCorners(6px, 54px);
}
@include desktopS {
  @include setRecipeTypeCorners(9px, 54px);
}
