.recipes {
z-index: 1;
}

.recipesType {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
}

.recipeRedirect {
  border-radius: 5px;
  width: 49%;
  height: 144px;
  overflow: hidden;
  margin-top: 11px;
  position: relative;
  padding: 12px;
  animation: showEffect 0.5s forwards;

  &:last-child {
    //flex-grow: 1;
    width: 100%;
  }
  &:hover {
    cursor: pointer;;
  }

  &::before {
    @include corners("rightBot", $color-green, 30px, 5px);
  }

  &::after {
    @include corners("rightTop", $color-green, 30px, 5px);
  }

  span {
    &::after {
      @include corners("leftBot", $color-green, 30px, 5px);
    }

    &::before {
      @include corners("leftTop", $color-green, 30px, 5px);
    }
  }

  div {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background: $color-green;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.animatedRedirect--ToCategory {
  animation: removePadding--ToCategory 0.2s 0.8s forwards;

  &::before {
    animation: cornerEffect--ToCategory 1s ease-in-out forwards;
  }

  &::after {
    animation: cornerEffect--ToCategory 1s ease-in-out forwards;
  }

  span {
    &::after {
      animation: cornerEffect--ToCategory 1s ease-in-out forwards;
    }

    &::before {
      animation: cornerEffect--ToCategory 1s ease-in-out forwards;
    }
  }
}

@keyframes removePadding--ToCategory {
  100% {
    padding: 0;
  }
}

@keyframes cornerEffect--ToCategory {
  100% {
    width: 100%;
    height: 100%;
  }
}