.recipeHeader {
  left: 0;
  top: 0;
  width: 100%;
  height: 261px;
  z-index: 1;
  display: flex;
  justify-content: center;
  @include mobileM {
    height: 277px;
  }
  @include mobileL {
    height: 305px;
  }
  @include mobileXL {
    height: 342px;
  }
  @include tablet {
    height: 372px;
  }
  @include laptopS {
    height: 268px;
  }
  @include laptopM {
    height: 284px;
  }
  @include laptopXL {
    height: 308px;
  }
  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140px;
    left: 0;
    top: 0;
    @include mobileM {
      height: 155px;
    }
    @include mobileL {
      height: 177px;
    }
    @include mobileXL {
      height: 196px;
    }
    @include laptopS {
      height: 127px;
    }
    @include laptopM {
      height: 146px;
    }
  }
  &__border {
    left: 0;
    position: absolute;
    width: 100%;
    height: 122px;
    border-radius: 53%;
    transform: translateY(78px);
    z-index: 0;
    z-index: -1;
    box-shadow: 0 0 10px $color-black;
    @include mobileM {
      transform: translateY(85px);
      height: 130px;
    }
    @include mobileL {
      transform: translateY(100px);
      height: 135px;
    }
    @include mobileXL {
      transform: translateY(120px);
      height: 144px;
    }
    @include laptopS {
      transform: translateY(70px);
      height: 113px;
    }
    @include laptopM {
      transform: translateY(87px);
      height: 117px;
    }
  }
  &__icon {
    z-index: 2;
    height: 122px;
    width: 122px;
    transform: translateY(27px);
    svg {
      height: 100%;
      width: 100%;
    }
    @include mobileM {
      height: 144px;
      width: 144px;
      transform: translateY(38px);
    }
    @include mobileL {
      height: 163px;
      width: 163px;
      transform: translateY(42px);
    }
    @include tablet {
      height: 191px;
      width: 191px;
      transform: translateY(32px);
    }
    @include laptopS {
      height: 135px;
      width: 135px;
      transform: translateY(15px);
    }
    @include laptopM {
      height: 148px;
      width: 148px;
      transform: translateY(24px);
    }
    @include laptopXL {
      height: 166px;
      width: 166px;
      transform: translateY(19px);
    }
  }
  &__btn {
    font-size: 15px;
    padding: 4px 11px;
    border-radius: 4px;
    position: absolute;
    transform: translateY(221px);
    color: $color-white;
    font-weight: 600;
    letter-spacing: 0.125rem;
    border: none;
    box-shadow: 0 0 2px $color-black;
    @include mobileM {
      transform: translateY(239px);
      font-size: 16px;
      padding: 5px 28px;
    }
    @include mobileL {
      transform: translateY(255px);
      font-size: 17px;
      padding: 10px 50px;
    }
    @include mobileXL {
      transform: translateY(292px);
      font-size: 23px;
      padding: 7px 101px;
      border-radius: 7px;
    }
    @include tablet {
      transform: translateY(312px);
      font-size: 28px;
      padding: 7px 135px;
      border-radius: 10px;
    }
    @include laptopS {
      transform: translateY(221px);
      font-size: 13px;
      padding: 5px 185px;
      border-radius: 5px;
    }
    @include laptopM {
      transform: translateY(250px);
      padding: 5px 195px;
      font-size: 14px;
    }
    @include laptopL {
      transform: translateY(246px);
      padding: 5px 210px;
      font-size: 16px;
      border-radius: 8px;
    }
    @include laptopXL {
      padding: 6px 234px;
      transform: translateY(270px);
      font-size: 17px;
    }
  }
}
.recipe {
  &__item {
    width: 95%;
    margin: 0 auto;
  }
}
.recipeOverview {
  font-size: 10px;
  word-break: break-all;
  padding-top: 22px;
  @include mobileM {
    padding-top: 30px;
    font-size: 11px;
  }
  @include mobileL {
    padding-top: 38px;
    font-size: 13px;
  }
  @include mobileXL {
    padding-top: 46px;
    font-size: 14px;
  }
  @include tablet {
    padding-top: 52px;
    font-size: 17px;
  }
  @include laptopS {
    padding-top: 6px;
    font-size: 11px;
  }
  @include laptopM {
    padding-top: 18px;
    font-size: 12px;
  }
  @include laptopL {
    padding-top: 24px;
    font-size: 13px;
  }
  @include laptopXL {
    padding-top: 41px;
    font-size: 14px;
  }
  &__title {
    text-align: center;
    font-size: 1.7em;
    letter-spacing: 0.063rem;
    word-spacing: 0.125rem;
    font-weight: 600;
  }
  &__topBar {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1.2em 0;
    font-size: 1.3em;
    i {
      font-size: 0.8em;
    }
  }
  &__description {
    word-break: break-word;
    letter-spacing: 0.063em;
    text-align: center;
    font-size: 1.4em;
  }
  &__botBar {
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
    @include mobileL {
      margin-top: 32px;
    }
    @include tablet {
      margin-top: 36px;
    }
    @include laptopS {
      margin-top: 28px;
    }
    @include laptopM {
      margin-top: 30px;
    }
  }
  &__box {
    text-align: center;
    &--mid {
      margin-top: 17px;
      @include mobileXL {
        margin-top: 26px;
      }
      @include tablet {
        margin-top: 32px;
      }
      @include laptopS {
        margin-top: 14px;
      }
      @include laptopL {
        margin-top: 20px;
      }
      @include laptopXL {
        margin-top: 27px;
      }
    }
    div:first-child {
      font-size: 2.2em;
      font-weight: bold;
    }
    div:last-child {
      font-size: 1.4em;
      margin-top: 0.3em;
    }
  }
}
.recipeContent {
  margin-top: 40px;
  font-size: 10px;
  @include mobileL {
    margin-top: 46px;
  }
  @include mobileXL {
    margin-top: 57px;
  }
  @include laptopS {
    margin-top: 31px;
  }
  @include laptopM {
    margin-top: 34px;
  }
  @include laptopL {
    margin-top: 38px;
  }
  @include laptopXL {
    margin-top: 43px;
  }
  fieldset {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 10px;
    margin-bottom: 10px;
    @include mobileL {
      margin-bottom: 15px;
    }
    @include mobileXL {
      margin-bottom: 21px;
    }
    @include tablet {
      margin-bottom: 26px;
    }
    @include laptopS {
      margin-bottom: 14px;
    }
    @include laptopL {
      margin-bottom: 21px;
    }
    @include laptopXL {
      margin-bottom: 25px;
    }
  }
  &__checkboxActive span {
    &::after {
      position: absolute;
      @include corners("rightBot", inherit, 6px, 2px, 6px);
    }
    &::before {
      position: absolute;
      @include corners("leftTop", inherit, 6px, 2px, 6px);
    }
  }
}
.recipeContent fieldset label {
  text-align: center;
  display: inline-block;
  width: 24%;
  position: relative;
  padding: 4px 0;
  font-size: 13px;
  @include mobileM {
    padding: 5px 0;
    font-size: 14px;
  }
  @include mobileL {
    padding: 7px 0;
    font-size: 16px;
  }
  @include mobileXL {
    padding: 6px 0;
    font-size: 20px;
  }
  @include tablet {
    padding: 8px 0;
    font-size: 23px;
  }
  @include laptopS {
    padding: 6px 0;
    font-size: 17px;
  }
  @include laptopM {
    padding: 7px 0;
    font-size: 20px;
  }
  @include laptopL {
    font-size: 22px;
  }
  @include laptopXL {
    font-size: 24px;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    background: transparent;
    &:checked ~ span {
      &::after {
        @include corners("rightBot", $color-black, 9px, 3px, 9px);
        @include mobileXL {
          border-right: 3px solid $color-black;
          border-bottom: 3px solid $color-black;
        }
        @include tablet {
          border-right: 5px solid $color-black;
          border-bottom: 5px solid $color-black;
        }
        @include laptopS {
          border-right: 3px solid $color-black;
          border-bottom: 3px solid $color-black;
        }
        @include laptopL {
          border-right: 5px solid $color-black;
          border-bottom: 5px solid $color-black;
        }
      }
      &::before {
        @include corners("leftTop", $color-black, 9px, 3px, 9px);
        @include mobileXL {
          border-left: 3px solid $color-black;
          border-top: 3px solid $color-black;
        }
        @include tablet {
          border-left: 5px solid $color-black;
          border-top: 5px solid $color-black;
        }
        @include laptopS {
          border-left: 3px solid $color-black;
          border-top: 3px solid $color-black;
        }
        @include laptopL {
          border-left: 5px solid $color-black;
          border-top: 5px solid $color-black;
        }
      }
      &::before,
      &::after {
        @include mobileM {
          width: 10px;
          height: 10px;
        }
        @include mobileXL {
          width: 14px;
          height: 14px;
        }
        @include tablet {
          width: 22px;
          height: 22px;
        }
        @include laptopS {
          width: 14px;
          height: 14px;
        }
        @include laptopM {
          width: 20px;
          height: 20px;
        }
        @include laptopL {
          width: 22px;
          height: 22px;
        }
        @include laptopXL {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &::after {
      transition: 0.2s;
      position: absolute;
      @include corners("rightBot", #adb5bd, 6px, 2px, 6px);
      @include mobileXL {
        border-right: 3px solid #adb5bd;
        border-bottom: 3px solid #adb5bd;
      }
      @include tablet {
        border-right: 5px solid #adb5bd;
        border-bottom: 5px solid #adb5bd;
      }
      @include laptopS {
        border-right: 3px solid #adb5bd;
        border-bottom: 3px solid #adb5bd;
      }
      @include laptopL {
        border-right: 5px solid #adb5bd;
        border-bottom: 5px solid #adb5bd;
      }
    }
    &::before {
      transition: 0.2s;
      position: absolute;
      @include corners("leftTop", #adb5bd, 6px, 2px, 6px);
      @include mobileXL {
        border-left: 3px solid #adb5bd;
        border-top: 3px solid #adb5bd;
      }
      @include tablet {
        border-left: 5px solid #adb5bd;
        border-top: 5px solid #adb5bd;
      }
      @include laptopS {
        border-left: 3px solid #adb5bd;
        border-top: 3px solid #adb5bd;
      }
      @include laptopL {
        border-left: 5px solid #adb5bd;
        border-top: 5px solid #adb5bd;
      }
    }
    &::before,
    &::after {
      @include mobileM {
        width: 8px;
        height: 8px;
      }
      @include mobileXL {
        width: 12px;
        height: 12px;
      }
      @include tablet {
        width: 16px;
        height: 16px;
      }
      @include laptopS {
        height: 10px;
        width: 10px;
      }
      @include laptopM {
        height: 12px;
        width: 12px;
      }
      @include laptopL {
        height: 14px;
        width: 14px;
      }
      @include laptopXL {
        width: 17px;
        height: 17px;
      }
    }
  }
}
.recipeInstructions {
  word-break: break-word;
  &__list {
    font-size: 10px;
    @include mobileM {
      font-size: 11px;
    }
    @include mobileL {
      font-size: 13px;
    }
    @include mobileXL {
      font-size: 14px;
    }
    @include tablet {
      font-size: 17px;
    }
    @include laptopS {
      font-size: 11px;
    }
    @include laptopM {
      font-size: 12px;
    }
    @include laptopL {
      font-size: 13px;
    }
    @include laptopXL {
      font-size: 14px;
    }
  }
  &__listItem {
    font-size: 1.3em;
    padding: 5px 0;
    @include mobileXL {
      padding: 6px 0;
    }
    @include tablet {
      padding: 7px 0;
    }
    @include laptopS {
      padding: 6px 0;
    }
    @include laptopXL {
      padding: 8px 0;
    }
  }
  &__listNumber {
    font-weight: bold;
    i {
      font-size: 0.9em;
      padding-right: 0.5em;
      @include mobileM {
        padding-right: 0.3em;
      }
    }
  }
}

.recipeIngredients {
  display: flex;
  flex-wrap: wrap;
  &__item {
    font-size: 10px;
    border-radius: 5px;
    color: $color-white;
    margin: 3px 3px;
    padding: 0.3em 1em;
    text-align: center;
    flex-grow: 1;
    @include mobileM {
      font-size: 11px;
      margin: 4px 4px;
    }
    @include mobileL {
      font-size: 13px;
      margin: 5px 5px;
    }
    @include mobileXL {
      font-size: 14px;
      margin: 7px 7px;
    }
    @include tablet {
      font-size: 17px;
      margin: 8px 8px;
      border-radius: 7px;
    }
    @include laptopS {
      font-size: 11px;
      margin: 4px 4px;
      border-radius: 5px;
    }
    @include laptopM {
      font-size: 12px;
      margin: 6px 6px;
    }
    @include laptopL {
      font-size: 13px;
      margin: 7px 7px;
    }
    @include laptopXL {
      font-size: 14px;
      margin: 8px 8px;
    }
  }
  &__name {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.125rem;
  }
  &__amount {
    letter-spacing: 0.063rem;
    margin-top: 0.5em;
    strong {
      font-size: 1em;
    }
  }
}
.recipeNotes {
  padding: 5px;
  word-break: break-word;
  @include mobileM {
    padding: 6px;
  }
  &__item {
    padding-top: 4px;
    font-size: 12px;
    letter-spacing: 0.063rem;
    word-spacing: 0.125rem;
    @include mobileM {
      padding-top: 5px;
      font-size: 13px;
    }
    @include mobileL {
      padding-top: 8px;
      font-size: 16px;
    }
    @include mobileXL {
      padding-top: 11px;
      font-size: 18px;
    }
    @include tablet {
      padding-top: 15px;
      font-size: 22px;
    }
    @include laptopS {
      padding-top: 8px;
      font-size: 15px;
    }
    @include laptopM {
      padding-top: 10px;
      font-size: 17px;
    }
    @include laptopL {
      padding-top: 12px;
      font-size: 19px;
    }
    @include laptopXL {
      padding-top: 14px;
      font-size: 20px;
    }
  }
}
.recipeOptions {
  display: flex;
  justify-content: space-between;
  &__btn {
    border: none;
    background: transparent;
    width: 48%;
    font-weight: bold;
    padding: 12px 0;
    font-size: 17px;
    border-radius: 7px;
    letter-spacing: 0.063rem;
    color: $color-white;
    @include mobileM {
      padding: 14px 0;
      font-size: 19px;
    }
    @include mobileL {
      padding: 17px 0;
      font-size: 21px;
      border-radius: 9px;
    }
    @include mobileXL {
      padding: 19px 0;
      font-size: 25px;
      border-radius: 11px;
    }
    @include tablet {
      padding: 19px 0;
      font-size: 29px;
      border-radius: 14px;
    }
    @include laptopS {
      width: 49%;
      padding: 8px 0;
      font-size: 23px;
      border-radius: 5px;
    }
    @include laptopM {
      font-size: 24px;
    }
    @include laptopL {
      border-radius: 8px;
      font-size: 25px;
    }
    @include laptopXL {
      font-size: 27px;
    }
    &--delete {
      background: $color-red;
      box-shadow: 0 0 0.1em $color-red;
    }
  }
}
.recipeDelete {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    position: relative;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
    @include mobileM {
      padding: 12px;
      border-radius: 5px;
    }
    @include mobileL {
      padding: 14px;
    }
    @include mobileXL {
      padding: 17px;
    }
    @include tablet {
      padding: 21px;
      border-radius: 7px;
    }
    @include laptopS {
      padding: 12px;
      border-radius: 4px;
    }
    @include laptopM {
      padding: 14px;
    }
    @include laptopL {
      border-radius: 5px;
      padding: 16px;
    }
    &::after {
      position: absolute;
      @include corners("leftBot", $color-red, 32px, 4px);
    }
    &::before {
      position: absolute;
      @include corners("rightBot", $color-red, 32px, 4px);
    }

    span {
      &::after {
        position: absolute;
        @include corners("rightTop", $color-red, 32px, 4px);
      }
      &::before {
        position: absolute;
        @include corners("leftTop", $color-red, 32px, 4px);
      }
    }
    &::before,
    &::after,
    span::after,
    span::before {
      @include mobileL {
        width: 38px;
        height: 38px;
      }
      @include mobileXL {
        width: 60px;
        height: 60px;
      }
      @include tablet {
        width: 65px;
        height: 65px;
      }
      @include laptopS {
        width: 31px;
        height: 31px;
      }
      @include laptopM {
        height: 37px;
        width: 37px;
      }
      @include laptopL {
        height: 41px;
        width: 41px;
      }
    }
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.063rem;
    text-align: center;
    line-height: 1.2em;
    @include mobileM {
      font-size: 19px;
    }
    @include mobileL {
      font-size: 25px;
    }
    @include mobileXL {
      font-size: 28px;
    }
    @include tablet {
      font-size: 32px;
    }
    @include laptopS {
      font-size: 22px;
    }
    @include laptopM {
      font-size: 24px;
    }
    @include laptopL {
      font-size: 25px;
    }
  }
  &__buttonsWrapper {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    @include mobileL {
      margin-top: 24px;
    }
    @include mobileXL {
      margin-top: 32px;
    }
    @include tablet {
      margin-top: 38px;
    }
    @include laptopS {
      margin-top: 12px;
    }
    @include laptopM {
      margin-top: 16px;
    }
    @include laptopL {
      margin-top: 22px;
    }
  }
  &__btn {
    width: 48%;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 0;
    color: $color-white;
    @include mobileM {
      font-size: 16px;
    }
    @include mobileL {
      font-size: 19px;
      padding: 10px 0;
      border-radius: 5px;
    }
    @include mobileXL {
      font-size: 23px;
      padding: 12px 0;
      border-radius: 7px;
    }
    @include tablet {
      font-size: 27px;
    }
    @include laptopS {
      width: 49%;
      font-size: 17px;
      padding: 5px 0;
      border-radius: 5px;
    }
    @include laptopM {
      font-size: 24px;
    }
    @include laptopL {
      font-size: 25px;
      border-radius: 8px;
    }
    &--delete {
      background: $color-red;
    }
    &--cancel {
      background: #70e000;
    }
  }
}
@mixin setCornersForConfirmDeleteBox($width) {
  .recipeDelete__item::before {
    border-right: $width solid $color-red;
    border-bottom: $width solid $color-red;
  }
  .recipeDelete__item::after {
    border-left: $width solid $color-red;
    border-bottom: $width solid $color-red;
  }
  .recipeDelete__item span::after {
    border-right: $width solid $color-red;
    border-top: $width solid $color-red;
  }
  .recipeDelete__item span::before {
    border-left: $width solid $color-red;
    border-top: $width solid $color-red;
  }
}

@include mobileXL {
  @include setCornersForConfirmDeleteBox(5px);
}
@include tablet {
  @include setCornersForConfirmDeleteBox(7px);
}
@include laptopS {
  @include setCornersForConfirmDeleteBox(4px);
}
@include laptopL {
  @include setCornersForConfirmDeleteBox(6px);
}
