.addProduct__form {
  width: 100%;
  height: 384px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  border-top: 4px solid $color-blue;

  @include mobileL {
    height: 424px;
  }
  @include tablet {
    height: 496px;
  }
  @include laptopS {
    height: 429px;
  }
  @include laptopM {
    height: 447px;
  }
  @include laptopL {
    height: 512px;
  }
  &::before {
    @include corners("leftBot", $color-blue, 100%, 4px, 93%);
    z-index: -10;
  }

  &::after {
    @include corners("rightBot", $color-blue, 100%, 4px, 93%);
    z-index: -10;
  }

  &Icon {
    width: 43px;
    height: 43px;
    border: 2px solid red;
    border-radius: 9px;
  }

  &Input {
    width: 81%;
    height: 28px;
    text-align: center;
    border: 2px solid $color-blue;
    border-radius: 5px;
    box-shadow: 0 0 6px $color-blue;
    margin-top: 15px;

    @include mobileL {
      height: 32px;
      font-size: 17px;
      border-radius: 8px;
    }
    @include tablet {
      height: 41px;
      border-radius: 10px;
      font-size: 20px;
    }
    @include laptopS {
      border-radius: 5px;
      height: 31px;
      font-size: 13px;
    }
    @include laptopM {
      height: 37px;
    }
    @include laptopL {
      font-size: 15px;
      height: 40px;
    }
    &:focus {
      outline: none;
      border: none;
      border-bottom: 4px solid $color-blue;
    }

    &:nth-child(2) {
      width: 120px;
      @include mobileL {
        width: 148px;
      }
      @include laptopL {
        width: 173px;
      }
    }
  }

  &Chose {
    padding: 5px 10px;
    height: 26px;
    background: $color-blue;
    color: $color-white;
    text-align: center;
    margin-top: 8px;
    border-radius: 6px;
  }

  fieldset {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    legend {
      margin-bottom: 15px;
    }
    label {
      margin-top: 6px;
      padding: 5px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      font-size: 14px;
      &::after {
        @include corners("leftTop", $color-blue, 100%, 4px, 100%);
      }
      @include mobileL {
        font-size: 18px;
        padding: 7px;
        margin-top: 7px;
      }
      @include tablet {
        font-size: 20px;
        padding: 9px;
        margin-top: 9px;
      }
      @include laptopS {
        font-size: 17px;
        padding: 8px;
        margin-top: 7px;
      }
      @include laptopL {
        font-size: 21px;
        padding: 10px;
        margin-top: 9px;
      }
    }
  }

  &Button {
    height: 30px;
    width: 147px;
    color: $color-white;
    font-weight: bold;
    border: none;
    position: absolute;
    bottom: 0;

    border-radius: 5px;
    overflow: hidden;
    font-size: 17px;
    letter-spacing: 0.125rem;
    height: 24px;
    &:focus {
      box-shadow: none;
    }
    @include mobileL {
      border-radius: 8px;
      font-size: 18px;
      height: 31px;
    }
    @include mobileXL {
      font-size: 17px;
      height: 33px;
    }
    @include tablet {
      font-size: 25px;
      height: 41px;
    }
    @include laptopS {
      border-radius: 5px;
      font-size: 16px;
      height: 31px;
    }
    @include laptopM {
      font-size: 24px;
      height: 37px;
    }
    @include laptopL {
      width: 173px;
      height: 40px;
    }
  }
}

.addProduct__form {
  .successful {
    width: 0;
    height: 0;
    background: $color-blue;
    animation: successfulProductSend 0.7s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;

    h3 {
      font-size: 25px;
      margin-top: 30px;
      text-align: center;
      @include mobileL {
        font-size: 32px;
        margin-top: 34px;
      }
    }

    i {
      margin-top: 32px;
      font-size: 0;
      animation: successfulShowIcon 0.1s 1s forwards;
      @include mobileL {
        animation: successfulShowIcon-mobileL 0.1s 1s forwards;
      }
    }

    button {
      color: $color-white;
      font-size: 17px;
      margin-top: 16px;
      width: 189px;
      height: 41px;
      border: none;
      background: $color-blue;
      position: relative;

      &::after {
        @include corners("rightTop", white, 85px, 4px, 15px);
      }

      &::before {
        @include corners("leftBot", white, 85px, 4px, 15px);
      }

      &::after,
      &::before {
        @include mobileL {
          width: 100px;
        }
      }

      @include mobileL {
        font-size: 21px;
        margin-top: 24px;
        width: 212px;
        height: 41px;
      }
    }
  }
}

@keyframes showAddProductForm {
  100% {
    top: 0;
  }
}

@keyframes successfulProductSend {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 90%;
    height: 90%;
  }
}

@keyframes successfulShowIcon {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 82px;
  }
}
@keyframes successfulShowIcon-mobileL {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 101px;
  }
}
@keyframes successfulShowButton {
  0% {
    font-size: 0;
  }
  100% {
    display: block;
    font-size: 25px;
    margin-top: 20px;
    width: 190px;
    height: 50px;
  }
}
