.kitchenProductManagement {
  width: 93%;
  border: 4px solid $color-vegetables;
  overflow: hidden;
  margin: 11px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  animation: showEffect 0.7s forwards;
  font-size: 10px;
  @include mobileL {
    font-size: 12px;
  }

  @include mobileL {
    font-size: 15px;
  }
  @include tablet {
    font-size: 20px;
    border-radius: 10px;
  }
  @include laptopS {
    font-size: 16px;
    border-radius: 7px;
  }
  .management {
    &__title {
      font-size: 1.1em;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;

      i {
        font-size: 1.9em;
        padding: 3px;
      }
    }

    &__amount {
      width: 100%;
      height: 25px;
      display: flex;
      justify-content: center;
      margin-top: 0.5em;

      @include mobileL {
        height: 29px;
      }
      @include mobileXL {
        height: 37px;
      }
      @include tablet {
        height: 44px;
      }
      @include laptopS {
        height: 38px;
      }
      button {
        height: 100%;
        font-size: 1.2em;
        display: block;
        background: $color-white;
        color: $color-vegetables;
        border: none;
        padding: 0 0.8em;
        position: relative;
        &:first-child {
          border-radius: 0.6em 0 0 0.6em;
        }
        &:last-child {
          border-radius: 0 0.6em 0.6em 0;
        }
      }
    }

    &__actions {
      width: 100%;
      height: 21px;
      margin-top: 15px;
      display: flex;

      @include mobileL {
        height: 27px;
      }
      @include mobileXL {
        height: 34px;
        margin-top: 35px;
      }
      @include tablet {
        height: 43px;
        margin-top: 40px;
      }
      @include laptopS {
        height: 36px;
        margin-top: 29px;
      }
      button {
        font-weight: bold;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: $color-white;
        font-size: 12px;
        &:nth-child(2) {
          background: $color-vegetables;
        }
        @include mobileL {
          font-size: 14px;
        }
        @include mobileXL {
          font-size: 16px;
        }
        @include tablet {
          font-size: 22px;
        }
        @include laptopS {
          font-size: 19px;
        }
      }
    }
  }

  input {
    text-align: center;
    width: 82px;
    height: 100%;
    border: none;
    background: $color-white;
    font-size: 1em;
    @include mobileL {
      width: 105px;
    }
    @include tablet {
      width: 144px;
    }
  }
}

.successfulProductUpdate {
  animation: productUpdate 1s;
}
@keyframes productUpdate {
  100% {
    transform: scale(0);
  }
}
