.kitchenProduct {
  width: 90%;
  border: 3px solid $color-vegetables;
  margin: 11px auto;
  border-radius: 22px;
  overflow: hidden;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 10px;
  background: $color-white;
  height: 29px;
  @include mobileL {
    font-size: 12px;
    height: 34px;
  }
  @include mobileXL {
    font-size: 14px;
    height: 41px;
  }
  @include tablet {
    font-size: 17px;
    height: 48px;
    border-radius: 30px;
  }
  @include laptopS {
    font-size: 13px;
    height: 35px;
    border-radius: 30px;
  }
  @include laptopM {
    font-size: 16px;
    height: 39px;
  }
  &:hover {
    cursor: pointer;
  }

  i {
    font-size: 1.8em;
    height: 100%;
    width: 29px;
    border: 2px solid $color-vegetables;
    background: $color-vegetables;
    border-radius: 2.6em;
    color: $color-white;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    @include mobileL {
      width: 34px;
    }
    @include mobileXL {
      width: 41px;
    }
    @include tablet {
      width: 48px;
    }
    @include laptopS {
      width: 35px;
    }
    @include laptopM {
      width: 39px;
      font-size: 25px;
    }
  }

  &__name {
    color: $fontColor-dark;
    height: 100%;
    width: 59%;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: 0.3em;
    font-size: 1.1em;
    @include laptopS {
      font-size: 1.4em;
    }
  }

  &_amount {
    color: $color-white;
    font-weight: 500;
    width: 23%;
    height: 100%;
    background: $color-vegetables;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 44px;
      width: 36px;
      border-radius: 50%;
      left: -27px;
      background-color: $color-white;
      @include mobileXL {
        height: 52px;
        width: 42px;
      }
    }
  }

  .kitchenProductManagement {
    width: 93%;
    border: 4px solid $color-vegetables;
    overflow: hidden;
    margin: 11px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    animation: showEffect 0.7s forwards;

    @include mobileXL {
      border-radius: 8px;
    }
    input {
      text-align: center;
      width: 82px;
      border: none;
      border-top: 4px solid $color-vegetables;
      border-bottom: 4px solid $color-vegetables;
    }
  }

  .successfulProductUpdate {
    animation: successfulProductUpdate 0.7s forwards;
  }

  @keyframes successfulProductUpdate {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.1);
    }
  }
}
.management {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    i {
      font-size: 28px;
      padding: 3px;
    }
  }

  &__amount {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7px;

    button {
      font-size: 12px;
      padding: 7px 15px;
      display: block;
      background: $color-white;
      color: $color-vegetables;
      border: none;
      border-radius: 0 10px 10px 0;
      position: relative;
    }
  }

  &__actions {
    width: 100%;
    height: 28px;
    margin-top: 15px;
    display: flex;

    button {
      font-weight: bold;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      &:nth-child(2) {
        background: $color-vegetables;
      }
    }
  }
}
