@media (min-width: 1280px) {
  .userForm__title{
    font-size: 64px;
  }
  .userForm__title::before {
    border-right: 12px solid $color-blue;
    border-top: 12px solid $color-blue;
  }
  .userForm__title::after {
    border-left: 12px solid $color-blue;
    border-top: 12px solid $color-blue;
  }
  .userForm__line {
    height: 12px;
  }
  .userForm__form {
    border-right: 12px solid $color-blue;
    border-left: 12px solid $color-blue;
  }
  .userForm__btn button {
    border-radius: 12px;
  }
  .userForm__element input {
    height: 50px;
    border-bottom: 9px solid $color-blue;
    font-size: 20px;
  }
  .userForm__element input:focus{
    border: 9px solid $color-blue;
    border-radius: 12px;
  }
}