@media (min-width: 1280px) {
  .newTaskForm {
    height: 305px;
    justify-content: flex-start;
    border-radius: 12px;

  }
  .newTaskForm__title {
    font-size: 45px;
  }
  .newTaskForm::after {
    border-right: 12px solid $color-purple;
    border-bottom: 12px solid $color-purple;
    width: 270px;
  }
  .newTaskForm::before {
    width: 270px;
    border-left: 12px solid $color-purple;
    border-bottom: 12px solid $color-purple;
  }
  .newTaskForm__input--name {
    width: 81%;
    height: 45px;
    font-size: 20px;
    border-radius: 12px;
    border: 9px solid $color-purple;
  }
  .newTaskForm__input--description {
    width: 81%;
    height: 45px;
    font-size: 20px;
    border-radius: 12px;
    border: 9px solid $color-purple;
  }
  .newTaskForm__btn {
    margin-top: 45px;
    height: 50px;
    font-size: 29px;
  }
  .newTaskForm__btn span::after,
  .newTaskForm__btn::before,
  .newTaskForm__btn::after,
  .newTaskForm__btn span::before {
    width: 144px;
  }
  .newTaskForm__btn span::after {
    border-right: 9px solid $color-blue;
    border-top: 9px solid $color-blue;
  }
  .newTaskForm__btn::before {

    border-right: 9px solid $color-blue;
    border-bottom: 9px solid $color-blue;
  }
  .newTaskForm__btn::after {
    border-left: 9px solid $color-blue;
    border-top: 9px solid $color-blue;
  }
  .newTaskForm__btn span::before {

    border-left: 9px solid $color-blue;
    border-bottom: 9px solid $color-blue;
  }

}