@media (min-width: 1280px) {
  .tasks__choice {
    border-radius: 20px;
  }
  .singleTask {
    padding: 40px;
    border-radius: 12px;
    overflow: hidden;
  }
  .singleTask::before {
    border-left: 12px solid $color-purple;
    border-top: 12px solid $color-purple;
    width: 300px;
  }
  .singleTask::after {
    border-right: 12px solid $color-purple;
    border-top: 12px solid $color-purple;
    width: 300px;
  }
  .singleTask .corner::before {
    width: 300px;
    border-left: 12px solid $color-purple;
    border-bottom: 12px solid $color-purple;
  }
  .singleTask .corner::after {
    width: 300px;
    border-right: 12px solid $color-purple;
    border-bottom: 12px solid $color-purple;
  }
  .singleTask__title {
    font-size: 35px;
  }
  .singleTask__description {
    font-size: 23px;
  }
  .singleTask__panel .panelBtn {
    height: 50px;
    border-radius: 12px;
    font-size: 30px;
  }
  .singleTask__addOps input {
    border: 9px solid $color-blue;
    height: 45px;
    width: 90%;
    margin-top: 15px;
    border-radius: 9px;
    outline: none;
  }
  .singleTask__addOps button {
    width: 451px;
    height: 50px;
    font-size: 29px;
  }
  .singleTask__addOps button span::after {
    height: 10px;
    width: 100px;
    border-right: 9px solid $color-blue;
    border-top: 9px solid $color-blue;
  }
  .singleTask__addOps button::after {
    height: 10px;
    width: 100px;
    border-right: 9px solid $color-blue;
    border-bottom: 9px solid $color-blue;
  }
  .singleTask__addOps button span::before {
    height: 10px;
    width: 100px;
    border-left: 9px solid $color-blue;
    border-top: 9px solid $color-blue;
  }
  .singleTask__addOps button::before {
    height: 10px;
    width: 100px;
    border-left: 9px solid $color-blue;
    border-bottom: 9px solid $color-blue;
  }
  .singleTask__opsList i {
    font-size: 30px;
  }
}