.mainMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../images/background_menu.jpg);
  &__titleBar {
    width: 100vw;
    font-weight: bold;
    font-size: 30px;
    padding: 2px 0;
    text-transform: uppercase;
    text-shadow: $textShadow-blue;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px $color-blue;
    background: $color-white;
    color: $color-white;
    border-bottom: 4px solid $color-blue;
    box-shadow: 0 1px 6px $color-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h1 {
      position: relative;
      margin-bottom: 5px;

      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: $color-blue;
        border-right: 4px solid $color-blue;
        overflow: hidden;
        animation: titleAnimation 6s linear infinite alternate;
      }
    }

    h2 {
      position: relative;
      margin-bottom: 5px;

      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: $color-blue;
        border-right: 4px solid $color-blue;
        overflow: hidden;
        animation: titleAnimation 6s linear infinite alternate;
      }
    }
  }

  &__element {
    width: 90%;
    height: 124px;
    margin: 12px auto;
    position: relative;
    background: $background-opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    animation: showEffect 0.6s forwards;

    &:hover {
      cursor: pointer;
    }

    strong {
      font-weight: bold;
      text-decoration: none;
      font-size: 31px;
    }
  }

  &__logOut {
    font-size: 33px;
    width: 57px;
    height: 57px;
    border: 4px solid $color-blue;
    color: $color-blue;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 3px $color-blue;
    margin-bottom: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.mainMenu__element--kitchen {
  strong {
    color: $color-blue;
    text-shadow: $textShadow-blue;
  }

  &::before {
    @include corners("leftTop", $color-blue, 69px, 4px, 50%);
  }

  &::after {
    @include corners("rightBot", $color-blue, 69px, 4px, 50%);
  }
}

.mainMenu__element--recipes {
  strong {
    color: $color-green;
    text-shadow: $textShadow-green;
  }

  &::before {
    @include corners("leftTop", $color-green, 69px, 4px, 50%);
  }

  &::after {
    @include corners("rightBot", $color-green, 69px, 4px, 50%);
  }
}

.mainMenu__element--toDo {
  strong {
    color: $color-purple;
    text-shadow: $textShadow-purple;
  }

  &::before {
    @include corners("leftTop", $color-purple, 69px, 4px, 50%);
  }

  &::after {
    @include corners("rightBot", $color-purple, 69px, 4px, 50%);
  }
}

.animatedRedirect--homePage {
  overflow: hidden;

  &::after {
    animation: redirectAnimation__homePage 0.8s forwards;
  }

  &::before {
    animation: redirectAnimation__homePage 0.8s forwards;
  }
}

@keyframes titleAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes redirectAnimation__homePage {
  100% {
    width: 100%;
    height: 100%;
  }
}
@mixin menuElementsCorners($heigth, $width) {
  .mainMenu__element--kitchen::before,
  .mainMenu__element--kitchen::after,
  .mainMenu__element--recipes::after,
  .mainMenu__element--recipes::before,
  .mainMenu__element--toDo::before,
  .mainMenu__element--toDo::after {
    height: $heigth;
    width: $width;
  }
}
