.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__titleBar {
    z-index: 1;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    padding: 2px 0;
    text-transform: uppercase;
    text-shadow: $textShadow-blue;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px $color-blue;
    background: $color-white;
    color: $color-white;
    border-bottom: 4px solid $color-blue;
    box-shadow: 0 1px 6px $color-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  &__item {
    margin-top: 28px;
    border-radius: 19px;
    width: 95%;
    padding: 14px 0;
    background:rgba(255, 255, 255, 0.7);
    // box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.7),
    // 5px 5px 5px rgba(228, 222, 222, 0.7);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.7),
    5px 5px 5px rgba(228, 222, 222, 0.7),
    -5px -5px 5px rgba(255, 255, 255, 0.7) inset,
    5px 5px 5px rgba(228, 222, 222, 0.7) inset;
    a{
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      letter-spacing: 0.125rem;
      color: $color-black;
    }
  }

  &__icon {
    width: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid $color-blue;
    padding-bottom: 3px;
    svg{
      height: 100%;
      width: 100%;
    }
  }
  &__name {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }
}
