.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__titleBar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    padding: 2px 0;
    text-transform: uppercase;
    text-shadow: $textShadow-blue;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px $color-blue;
    background: $color-white;
    color: $color-white;
    border-bottom: 4px solid $color-blue;
    box-shadow: 0 1px 6px $color-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @include mobileM {
      font-size: 30px;
    }
    @include mobileL {
      font-size: 33px;
      padding: 3px;
    }
    @include mobileXL {
      font-size: 34px;
      border-bottom: 5px solid $color-blue;
      padding: 5px;
    }
    @include tablet {
      border-bottom: 7px solid $color-blue;
      font-size: 37px;
      padding: 7px;
    }
    @include laptopS {
      border-bottom: 4px solid $color-blue;
      font-size: 27px;
      padding: 4px;
    }
    @include laptopM {
      font-size: 29px;
    }
    @include laptopL {
      border-bottom: 6px solid $color-blue;
      font-size: 30px;
      padding: 5px;
    }
    @include desktopS {
      border-bottom: 9px solid $color-blue;
      font-size: 41px;
      padding: 6px;
    }
  }
  &__padding {
    @include mobileM {
      padding: 0 29px;
    }
    @include laptopL {
      padding: 0 42px;
    }
    @include desktopS {
      padding: 0 54px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    @include mobileM {
      padding-top: 8px;
    }
    @include tablet {
      padding-top: 11px;
    }
    @include laptopS {
      padding-top: 9px;
    }
    @include laptopM {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__item {
    margin-top: 22px;
    border-radius: 19px;
    width: 95%;
    padding: 14px 0;
    letter-spacing: 0.063rem;
    transition: 0.2s;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: $color-black;
      @include mobileM {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    @include mobileM {
      border-radius: 23px;
      padding: 17px 0;
    }
    @include mobileL {
      margin-top: 25px;
      border-radius: 26px;
      padding: 19px 0;
    }
    @include tablet {
      margin-top: 33px;
      border-radius: 34px;
      padding: 24px 0;
    }
    @include laptopS {
      margin-top: 23px;
      border-radius: 21px;
      padding: 15px 0;
    }
    @include laptopM {
      width: 30%;
      height: 80vh;
      min-height: 322px;
      display: flex;
    }
    @include desktopS {
      min-height: 351px;
    }
    @include laptopL {
      border-radius: 27px;
    }
    @include desktopS {
      border-radius: 36px;
    }
  }
  &__icon {
    width: 104px;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid $color-blue;
    padding-bottom: 3px;
    @include mobileM {
      width: 111px;
    }
    @include mobileL {
      width: 122px;
      padding-bottom: 5px;
    }
    @include mobileXL {
      width: 131px;
      padding-bottom: 6px;
    }
    @include tablet {
      border-bottom: 4px solid $color-blue;
      width: 153px;
      padding-bottom: 8px;
    }
    @include laptopS {
      border-bottom: 3px solid $color-blue;
      width: 105px;
      padding-bottom: 4px;
    }
    @include laptopM {
      width: 48%;
      padding-bottom: 10px;
    }
    @include laptopL {
      padding-bottom: 12px;
      border-bottom: 4px solid $color-blue;
    }
    @include desktopS {
      padding-bottom: 15px;
      border-bottom: 7px solid $color-blue;
    }
  }
  &__name {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    @include mobileL {
      margin-top: 7px;
      font-size: 18px;
    }
    @include mobileXL {
      margin-top: 8px;
      font-size: 19px;
    }
    @include tablet {
      font-size: 27px;
    }
    @include laptopS {
      font-size: 21px;
    }
    @include laptopM {
      font-size: 26px;
      margin-top: 11px;
    }
    @include laptopL {
      font-size: 29px;
      margin-top: 16px;
    }
    @include desktopS {
      font-size: 35px;
      margin-top: 18px;
    }
  }
  &__logoutWrapper {
    width: 95%;
    margin: 30px auto 5px;
    @include mobileL {
      margin: 41px auto 8px;
    }
    @include tablet {
      margin: 60px auto 10px;
    }
    @include laptopS {
      margin: 30px auto 5px;
    }
    @include laptopM {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__btn {
    width: 100%;
    text-align: center;
    padding: 3px 0;
    font-size: 12px;
    border-radius: 6px;
    border: none;
    transition: 0.2s;
    font-weight: 600;
    letter-spacing: 0.063rem;
    @include mobileM {
      padding: 4px 0;
      font-size: 14px;
      border-radius: 8px;
    }
    @include mobileL {
      padding: 6px 0;
      font-size: 16px;
      border-radius: 8px;
    }
    @include tablet {
      padding: 8px 0;
      font-size: 19px;
      border-radius: 12px;
    }
    @include laptopS {
      padding: 6px 0;
      font-size: 16px;
      border-radius: 6px;
    }
    @include laptopM {
      width: 30%;
      padding: 7px 0;
      font-size: 18px;
      border-radius: 9px;
    }
    @include desktopS {
      padding: 11px 0;
      font-size: 21px;
      border-radius: 14px;
    }
  }

  &__neumorphism {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.7), 5px 5px 5px rgba(228, 222, 222, 0.7),
      -5px -5px 5px rgba(255, 255, 255, 0.7) inset, 5px 5px 5px rgba(228, 222, 222, 0.7) inset;
    letter-spacing: 0.063rem;
    &:hover {
      cursor: pointer;
      @include onlyOnDesktop {
        @include laptopS {
          letter-spacing: 0.125rem;
          box-shadow: -9px -9px 9px rgba(255, 255, 255, 0.7), 9px 9px 9px rgba(228, 222, 222, 0.7),
            -9px -9px 9px rgba(255, 255, 255, 0.7) inset, 9px 9px 9px rgba(228, 222, 222, 0.7) inset;
        }
        @include laptopL {
          box-shadow: -16px -16px 16px rgba(255, 255, 255, 0.7), 16px 16px 16px rgba(228, 222, 222, 0.7),
            -16px -16px 16px rgba(255, 255, 255, 0.7) inset, 16px 16px 16px rgba(228, 222, 222, 0.7) inset;
        }
        @include desktopS {
          box-shadow: -20px -20px 20px rgba(255, 255, 255, 0.7), 20px 20px 20px rgba(228, 222, 222, 0.7),
            -20px -20px 20px rgba(255, 255, 255, 0.7) inset, 20px 20px 20px rgba(228, 222, 222, 0.7) inset;
        }
      }
    }
    @include mobileM {
      box-shadow: -7px -7px 7px rgba(255, 255, 255, 0.7), 7px 7px 7px rgba(228, 222, 222, 0.7),
        -7px -7px 7px rgba(255, 255, 255, 0.7) inset, 7px 7px 7px rgba(228, 222, 222, 0.7) inset;
    }
    @include mobileL {
      box-shadow: -9px -9px 9px rgba(255, 255, 255, 0.7), 9px 9px 9px rgba(228, 222, 222, 0.7),
        -9px -9px 9px rgba(255, 255, 255, 0.7) inset, 9px 9px 9px rgba(228, 222, 222, 0.7) inset;
    }
    @include tablet {
      box-shadow: -13px -13px 13px rgba(255, 255, 255, 0.7), 13px 13px 13px rgba(228, 222, 222, 0.7),
        -13px -13px 13px rgba(255, 255, 255, 0.7) inset, 13px 13px 13px rgba(228, 222, 222, 0.7) inset;
    }
    @include laptopS {
      box-shadow: -7px -7px 7px rgba(255, 255, 255, 0.7), 7px 7px 7px rgba(228, 222, 222, 0.7),
        -7px -7px 7px rgba(255, 255, 255, 0.7) inset, 7px 7px 7px rgba(228, 222, 222, 0.7) inset;
    }
    @include laptopL {
      box-shadow: -13px -13px 13px rgba(255, 255, 255, 0.7), 13px 13px 13px rgba(228, 222, 222, 0.7),
        -13px -13px 13px rgba(255, 255, 255, 0.7) inset, 13px 13px 13px rgba(228, 222, 222, 0.7) inset;
    }
    @include desktopS {
      box-shadow: -16px -16px 16px rgba(255, 255, 255, 0.7), 16px 16px 16px rgba(228, 222, 222, 0.7),
        -16px -16px 16px rgba(255, 255, 255, 0.7) inset, 16px 16px 16px rgba(228, 222, 222, 0.7) inset;
    }
  }
}
