.recipesListBar {
  background: $color-green;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h2 {
    font-size: 36px;
  }

  strong {
    font-size: 15px;

    i {
      font-style: italic;
      font-weight: 500;
    }
  }
}

.addRecipeBtn {
  font-size: 26px;
  color: $color-green;
  width: 36%;
  height: 32px;
  background: white;
  display: block;
  margin: 3px auto;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  border: none;

  &::before {
    @include corners("rightBot", $color-green, 30px, 5px, 15px);
  }

  &::after {
    @include corners("leftBot", $color-green, 30px, 5px, 15px);
  }
}

.addRecipeBtn__animation {
  &::before {
    @include animatedCorners(0.7s, 70px)
  }

  &::after {
    @include animatedCorners(0.7s, 70px)
  }
}

.emptyRecipes {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
}

.recipeBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: showEffect 0.8s;

  h3 {
    font-size: 47px;
    font-weight: bold;
    width: 95%;
    padding: 12px;
    margin: 40px auto;
    margin-bottom: 0;
    border-radius: 7px;
    text-align: center;
    word-wrap: break-word;
    background: white;
    color: $color-green;
    border: 7px solid $color-green
  }

  &__products {
    font-weight: bold;
    color: $color-green;
    width: 38%;
    height: 35px;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 7px;
    border-radius: 0 0 7px 7px;

    .missing {
      color: $color-red
    }

    &::after {
      @include corners("rightBot", $color-green, 30px, 7px, 15px);
    }

    &::before {
      @include corners("leftBot", $color-green, 30px, 7px, 15px);
    }
  }
}

.animatedRedirect--toSingleRecipe {
  &::after {
    animation: cornerEffect--toSingleRecipe 0.6s forwards;
  }

  &::before {
    animation: cornerEffect--toSingleRecipe 0.6s forwards;
  }
}

.animatedRedirect--toSingleRecipe2 {
  animation: insideEffect--toSingleRecipe 0.8s forwards;
}

@keyframes cornerEffect--toSingleRecipe {
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes insideEffect--toSingleRecipe {
  100% {
    color: white;
    background: $color-green;
  }
}