@media (min-width: 1280px) {
  .addRecipe__title {
    border-bottom: 9px solid $color-green;
  }
  .addRecipe__element {
    width: 73%;
    border-radius: 20px;
  }
  .addRecipe__list, .addRecipe__buttonsBar, .addRecipe__btn {
    width: 73%;
  }
  .addRecipe__input {
    width: 70%;
    height: 50px;
    font-size: 20px;
    border: 9px solid #329d52;
    border-radius: 12px;
    margin-bottom: 35px;
  }
  .addRecipe__input--amount {
    width: 228px;
  }
  .addRecipe__fieldset label {
    &::after {
      border-left: 9px solid $color-green;
      border-top: 9px solid $color-green;
    }
  }
  .addRecipe__element::after {
    border-right: 12px solid $color-green;
    border-top: 12px solid $color-green;
  }
  .addRecipe__element::before {
    border-left: 12px solid $color-green;
    border-top: 12px solid $color-green;
  }
  .addRecipe__element span::after {
    border-right: 12px solid $color-green;
    border-bottom: 12px solid $color-green;
  }
  .addRecipe__element span::before {
    border-left: 12px solid $color-green;
    border-bottom: 12px solid $color-green;
  }
  .addRecipe__label {
    font-size: 36px;
    width: 227px;
  }
  .addRecipe__addButton {
    height: 50px;
    font-size: 29px;
  }
  .addRecipe__addButton i::after,
  .addRecipe__addButton::before,
  .addRecipe__addButton::after,
  .addRecipe__addButton i::before {
    width: 35%;
  }
  .addRecipe__addButton i::after {
    border-right: 9px solid $color-blue;
    border-top: 9px solid $color-blue;
  }
  .addRecipe__addButton::before {

    border-right: 9px solid $color-blue;
    border-bottom: 9px solid $color-blue;
  }
  .addRecipe__addButton::after {
    border-left: 9px solid $color-blue;
    border-top: 9px solid $color-blue;
  }
  .addRecipe__addButton i::before {
    border-left: 9px solid $color-blue;
    border-bottom: 9px solid $color-blue;
  }
  .addRecipe__addButton {
    margin-top: -31px;
  }
  .addRecipe__fieldset label:last-child {
    margin-bottom: 30px;
  }
  .addRecipe__choice {
    font-size: 26px;
  }
  .addRecipe__choice--pink::after, .addRecipe__choice--pink::before {
    width: 26px;
    height: 26px;
  }
  .addRecipe__choice--pink::after {
    border-right: 9px solid $color-blue;
    border-top: 9px solid $color-blue;
  }
  .addRecipe__choice--pink::before {
    border-left: 9px solid $color-blue;
    border-bottom: 9px solid $color-blue;
  }
  .addRecipe__list li::before {

    border-right: 9px solid $color-blue;
    border-bottom: 9px solid $color-blue;
  }
  .addRecipe__list li::after {

    border-left: 9px solid $color-blue;
    border-top: 9px solid $color-blue;
  }
  .addRecipe__list textarea{
    border: 9px solid $color-blue;
    font-size: 20px;
  }
  .addRecipe__list {
    border-left: 12px solid $color-blue;
    border-right: 12px solid $color-blue;

  }
  .addRecipe__list{
    height: 210px;
  }
  .addRecipe__list li i {
    font-size: 25px;
  }
  .addRecipe__list li p {
    margin-top: 15px;
    font-size: 20px;
  }
  .addRecipe__btn span::before,
  .addRecipe__btn::before,
  .addRecipe__btn span::after,
  .addRecipe__btn::after{
    width: 271px
  }
  .addRecipe__btn{
    width: 73%;
    margin: 0 auto;
    border-radius: 12px;
  }
  .addRecipe__btn span::before {

    border-right: 12px solid $color-green;
    border-top: 12px solid $color-green;
  }
  .addRecipe__btn::before {
    border-right:12px solid $color-green;
    border-bottom: 12px solid $color-green;
  }
  .addRecipe__btn span::after {
    border-left: 12px solid $color-green;
    border-top: 12px solid $color-green;
  }
  .addRecipe__btn::after {

    border-left: 12px solid $color-green;
    border-bottom: 12px solid $color-green;
  }
}