@media (min-width: 1280px) {
  .addProduct__form {
    height: 439px;
  }
  .addProduct__formInput {
    height: 45px;
    font-size: 20px;
  }
  .addProduct__formButton {
    height: 50px;
    font-size: 29px;
  }
  .addProduct__formButton span::after,
  .addProduct__formButton::before,
  .addProduct__formButton::after,
  .addProduct__formButton span::before {
    width: 37%;
  }
  .addProduct__form::after, .addProduct__form::before  {
    width: 280px;
  }
  .addProduct__form .successful h3 {
    font-size: 60px;
    margin-top: 19px;
    text-align: center;
  }
  .addProduct__form .successful button {

    font-size: 36px;
    margin-top: 20px;
    width: 275px;
    height: 65px;
  }
  .addProduct__form{
    border-top: 12px solid #30A9DE;
    border-radius: 20px;
  }
  .addProduct__form::after {
    border-right: 12px solid #30A9DE;
    border-bottom: 12px solid #30A9DE;
  }
  .addProduct__form::before {
    border-left: 12px solid #30A9DE;
    border-bottom: 12px solid #30A9DE;
  }
}