.newTaskForm {
  width: 91%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  transform: translateY(-100%);
  animation: showTaskElement 0.6s forwards;
  border-radius: 7px;
  overflow: hidden;

  &::before {
    @include corners("leftBot", $color-purple, 66px, 5px, 92%);
    z-index: -10;
  }

  &::after {
    @include corners("rightBot", $color-purple, 66px, 5px, 92%);
    z-index: -10;
  }

  &::after,
  &::before {
    @include laptopS {
      width: 313px;
    }
  }
  &__title {
    text-shadow: 1px 1px $color-grey;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: $color-purple;
    margin-top: 17px;
    margin-bottom: 3px;
    @include mobileM {
      font-size: 26px;
    }
    @include mobileL {
      font-size: 32px;
    }
    @include tablet {
      font-size: 38px;
    }
    @include laptopS {
      font-size: 26px;
    }
  }

  &__input {
    background-color: $color-white;
    box-shadow: 0 0 4px $color-purple;
    border: 2px solid $color-purple;
    width: 90%;
    margin-top: 15px;
    border-radius: 9px;
    outline: none;

    @include tablet {
      font-size: 20px;
    }
    @include laptopS {
      font-size: 14px;
    }
    &:focus {
      box-shadow: none;
    }

    &--name {
      height: 28px;
      text-align: center;
      background-color: $color-white;

      @include mobileM {
        height: 32px;
      }
      @include tablet {
        height: 41px;
      }
      @include laptopS {
        height: 31px;
      }
    }

    &--description {
      height: 133px;
      resize: none;
      text-align: center;
      background-color: $color-white;
      @include mobileM {
        height: 147px;
      }
      @include tablet {
        height: 188px;
      }
      @include laptopS {
        height: 152px;
      }
    }
  }

  &__invalid {
    color: $color-red;
    font-size: 12px;
    margin-top: 4px;
    font-weight: bold;
    @include tablet {
      font-size: 18px;
      margin-top: 13px;
    }
  }

  &__btn {
    background-color: transparent;
    font-weight: bold;
    color: $color-white;
    font-size: 14px;
    letter-spacing: 0.063rem;
    font-style: italic;
    height: 36px;
    width: 147px;
    margin-top: 10px;
    overflow: hidden;
    border: none;
    bottom: 0;
    position: relative;
    border-radius: 7px;

    @include mobileL {
      font-size: 20px;
      height: 40px;
      width: 266px;
    }
    @include mobileXL {
      margin-top: 28px;
      font-size: 19px;
      height: 40px;
      width: 377px;
    }
    @include tablet {
      margin-top: 49px;
      font-size: 24px;
      height: 46px;
      width: 532px;
    }
    @include laptopS {
      margin-top: 25px;
      font-size: 16px;
      height: 31px;
      width: 275px;
    }
    &::after {
      @include corners("leftTop", $color-blue, 29%, 5px, 20%);
    }

    &::before {
      @include corners("rightBot", $color-blue, 29%, 5px, 20%);
    }

    span {
      &::after {
        @include corners("rightTop", $color-blue, 29%, 5px, 20%);
      }

      &::before {
        @include corners("leftBot", $color-blue, 29%, 5px, 20%);
      }
    }

    @include tablet {
      @include cornerForNewTaskBtn(36%);
    }
  }

  &__successfulAdd {
    width: 91%;
    height: 91%;
    background: $color-purple;
    margin-top: -30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: showEffect 0.7s forwards;

    h3 {
      font-size: 32px;
      margin-top: 47px;
      text-align: center;
    }

    i {
      margin-top: 32px;
      margin-bottom: 32px;
      font-size: 0;
      animation: successfulShowIcon 0.1s 1s forwards;
    }
  }
}
@keyframes showTaskElement {
  100% {
    transform: translateX(0);
  }
}
