.singleTask {
  margin-top: 30px;
  width: 100%;
  position: relative;
  padding: 15px;
  border-radius: 7px;
  .corner {
    &::after {
      @include corners("rightBot", $color-purple, 18%, 5px, 18%);
      z-index: -10;
    }

    &::before {
      @include corners("leftBot", $color-purple, 18%, 5px, 18%);
      z-index: -10;
    }
  }

  &::after {
    @include corners("rightTop", $color-purple, 18%, 5px, 18%);
    z-index: -10;
  }

  &::before {
    @include corners("leftTop", $color-purple, 18%, 5px, 18%);
    z-index: -10;
  }

  &__title {
    text-align: center;
    overflow-wrap: break-word;
    font-weight: bold;
  }

  &__description {
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 5px;
  }

  &__panel {
    height: 30px;
    margin-top: 11px;
    display: flex;
    flex-wrap: wrap;

    .panelBtn {
      flex-grow: 1;
      margin: 1px;
      border-radius: 7px;
      overflow: hidden;

      &--delete {
        border: 2px solid $color-red;
        color: $color-red;
        background: white;
        transition: 0.2s;
        @include onlyOnDesktop {
          &:hover {
            border: none;
            background: $color-red;
            color: #fff;
          }
        }
      }

      &--archive {
        border: none;
        background: $color-grey;
        color: white;
        transform: 0.2s;
        @include onlyOnDesktop {
          &:hover {
            border: none;
            background: #fff;
            color: $color-grey;
            border: 2px solid $color-grey;
          }
        }
      }

      &--addOperation {
        border: none;
        background: $color-blue;
        color: white;
        transition: 0.2s;
        @include onlyOnDesktop {
          &:hover {
            border: none;
            background: #fff;
            color: $color-blue;
            border: 2px solid $color-blue;
          }
        }
      }
    }
  }

  &__addOps {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
      box-shadow: 0 0 4px $color-blue;
      border: 2px solid $color-blue;
      height: auto;
      min-height: 80px;
      width: 100%;
      border-radius: 9px;
      outline: none;
      letter-spacing: 0.063rem;
      resize: none;
      &:focus {
        box-shadow: none;
      }
    }

    button {
      margin-top: 10px;
      color: white;
      font-weight: bold;
      height: 30px;
      width: 191px;
      overflow: hidden;
      border: none;
      bottom: 0;
      position: relative;
      border-radius: 7px;
      background-color: $color-blue;
    }
  }

  &__opsList {
    width: 100%;
    margin-top: 13px;
    overflow: auto;

    li {
      margin-bottom: 6px;
      display: flex;
      align-items: center;
      transition: 0.2s;
      letter-spacing: 0.063rem;
    }

    i {
      color: $color-red;
      transition: 0.2s;

      @include onlyOnDesktop {
        &:hover {
          cursor: pointer;
          color: rgb(177, 47, 47);
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}
