.singleTask {
  margin-top: 23px;
  width: 100%;
  position: relative;
  padding: 15px;
  background-color: $background-opacity;

  @include tablet {
    margin-top: 35px;
  }
  @include laptopS {
    margin-top: 20px;
  }
  .corner {
    &::after {
      @include corners("rightBot", $color-purple, 18%, 5px, 18%);
      z-index: -10;
    }

    &::before {
      @include corners("leftBot", $color-purple, 18%, 5px, 18%);
      z-index: -10;
    }
  }

  &::after {
    @include corners("rightTop", $color-purple, 18%, 5px, 18%);
    z-index: -10;
  }

  &::before {
    @include corners("leftTop", $color-purple, 18%, 5px, 18%);
    z-index: -10;
  }

  &__titleScale {
    font-size: 10px;
    @include mobileM {
      font-size: 12px;
    }
    @include mobileL {
      font-size: 13px;
    }
    @include mobileXL {
      font-size: 15px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include laptopS {
      font-size: 12px;
    }
    @include laptopM {
      font-size: 13px;
    }
  }
  &__title {
    text-align: center;
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.063rem;
  }

  &__description {
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
    font-size: 1.2em;
    letter-spacing: 0.063rem;
  }

  &__panel {
    height: 30px;
    display: flex;
    flex-wrap: wrap;

    @include mobileM {
      height: 33px;
    }
    @include mobileL {
      height: 35px;
    }
    @include mobileXL {
      height: 39px;
    }
    @include laptopS {
      height: 29px;
    }
    @include laptopM {
      height: 33px;
    }
    .panelBtn {
      flex-grow: 1;
      height: 100%;
      margin: 1px;
      border-radius: 7px;
      overflow: hidden;
      transition: 0.2s;
      @include mobileM {
        font-size: 17px;
        border-radius: 8px;
      }
      @include mobileL {
        border-radius: 9px;
      }
      @include mobileXL {
        font-size: 22px;
      }
      @include laptopS {
        font-size: 16px;
      }
      @include laptopM {
        font-size: 19px;
      }
      &--delete {
        border: 2px solid $color-red;
        color: $color-red;
        background-color: $color-white;
        @include onlyOnDesktop {
          &:hover {
            border: none;
            background: $color-red;
            color: $color-white;
          }
        }
      }

      &--archive {
        border: none;
        background: $color-grey;
        color: $color-white;
        @include onlyOnDesktop {
          &:hover {
            border: none;
            background: $color-white;
            color: $color-grey;
            border: 2px solid $color-grey;
          }
        }
      }

      &--addOperation {
        border: none;
        background: $color-blue;
        color: $color-white;
        transition: 0.2s;
        @include onlyOnDesktop {
          &:hover {
            border: none;
            background: #fff;
            color: $color-blue;
            border: 2px solid $color-blue;
          }
        }
      }
    }
  }

  &__addOps {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
      font-family: "Poppins", sans-serif;
      box-shadow: 0 0 4px $color-blue;
      border: 2px solid $color-blue;
      height: auto;
      min-height: 80px;
      width: 100%;
      border-radius: 9px;
      outline: none;
      letter-spacing: 0.063rem;
      resize: none;
      &:focus {
        box-shadow: none;
      }
      @include mobileL {
        min-height: 102px;
      }
      @include mobileXL {
        min-height: 119px;
      }
      @include laptopM {
        min-height: 136px;
      }
    }

    button {
      margin-top: 10px;
      color: white;
      font-weight: bold;
      height: 30px;
      width: 191px;
      overflow: hidden;
      border: none;
      bottom: 0;
      position: relative;
      border-radius: 7px;
      background-color: $color-blue;
      @include mobileM {
        border-radius: 8px;
      }
      @include mobileL {
        border-radius: 9px;
      }
      @include mobileXL {
        height: 36px;
        border-radius: 8px;
      }
      @include laptopS {
        height: 26px;
      }
      @include laptopM {
        height: 33px;
        font-size: 19px;
      }
    }
  }

  &__opsList {
    width: 100%;
    margin-top: 1em;
    overflow: auto;
    font-size: 10px;
    @include mobileM {
      font-size: 11px;
    }
    @include mobileL {
      font-size: 12px;
    }
    @include mobileXL {
      font-size: 13px;
    }
    @include tablet {
      font-size: 15px;
    }
    @include laptopS {
      font-size: 10px;
    }
    @include laptopM {
      font-size: 12px;
    }
    li {
      font-size: 1.3em;
      margin-bottom: 0.5em;
      display: flex;
      transition: 0.2s;
      letter-spacing: 0.063rem;
      word-break: break-all;
    }

    i {
      color: $color-red;
      transition: 0.2s;

      @include onlyOnDesktop {
        &:hover {
          cursor: pointer;
          color: rgb(177, 47, 47);
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}

@mixin singleTaskCorners($borderSize) {
  .singleTask::before {
    border-left: $borderSize solid $color-purple;
    border-top: $borderSize solid $color-purple;
  }
  .singleTask::after {
    border-right: $borderSize solid $color-purple;
    border-top: $borderSize solid $color-purple;
  }
  .singleTask .corner::before {
    border-left: $borderSize solid $color-purple;
    border-bottom: $borderSize solid $color-purple;
  }
  .singleTask .corner::after {
    border-right: $borderSize solid $color-purple;
    border-bottom: $borderSize solid $color-purple;
  }
}
@mixin newTaskFormCorners($borderSize) {
  .newTaskForm::after {
    border-right: $borderSize solid $color-purple;
    border-bottom: $borderSize solid $color-purple;
  }
  .newTaskForm::before {
    border-left: $borderSize solid $color-purple;
    border-bottom: $borderSize solid $color-purple;
  }
  .newTaskForm__btn span::after {
    border-right: $borderSize solid $color-blue;
    border-top: $borderSize solid $color-blue;
  }
  .newTaskForm__btn::before {
    border-right: $borderSize solid $color-blue;
    border-bottom: $borderSize solid $color-blue;
  }
  .newTaskForm__btn::after {
    border-left: $borderSize solid $color-blue;
    border-top: $borderSize solid $color-blue;
  }
  .newTaskForm__btn span::before {
    border-left: $borderSize solid $color-blue;
    border-bottom: $borderSize solid $color-blue;
  }
}
@include mobileXL {
  @include singleTaskCorners(6px);
  @include newTaskFormCorners(6px);
}
@include laptopS {
  @include singleTaskCorners(4px);
  @include newTaskFormCorners(4px);
}

