body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    background-size: 100% 100%;
    background-image: inherit;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.row {
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}
input, textarea {
  font-family: "Poppins", sans-serif;
  background: $color-white;
}
header {
  width: 100%;
}
//class for title bar
.titleBar {
  width: 100%;
  height: 34px;
  font-size: 27px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  z-index: 1;
  h1 {
    position: absolute;
    color: white;

    &:nth-child(1) {
      color: transparent;
    }

    &:nth-child(2) {
      animation: fluidEffect 4s ease-in-out infinite;
    }
  }
  @include mobileM {
    height: 38px;
    font-size: 32px;
  }
  @include mobileL {
    height: 43px;
    font-size: 37px;
  }
  @include mobileXL {
    height: 49px;
    font-size: 40px;
  }
  @include tablet {
    height: 54px;
    font-size: 49px;
  }
  @include laptopS {
    height: 49px;
    font-size: 35px;
  }
  @include laptopL {
    height: 52px;
    font-size: 42px;
  }
  @include laptopXL {
    height: 55px;
    font-size: 44px;
  }
  @include desktopS {
    height: 64px;
    font-size: 49px;
  }
}

// sort button
.sort {
  text-align: center;
  display: flex;
  justify-content: center;

  i {
    padding: 7px 25px;
  }

  button {
    font-size: 12px;
    background: $color-white;
    position: relative;
    border: none;
    overflow: hidden;
    padding: 7px 13px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
    @include mobileL {
      font-size: 13px;
      padding: 9px 18px;
    }
    @include mobileXL {
      font-size: 15px;
      padding: 8px 25px;
    }
    @include tablet {
      font-size: 20px;
      padding: 11px 25px;
    }
    @include laptopS {
      font-size: 16px;
      padding: 7px 21px;
    }
    @include laptopM {
      font-size: 18px;
      padding: 10px 29px;
    }
    @include desktopS {
      font-size: 22px;
      padding: 13px 35px;
    }
  }

  &--blue {
    margin-top: 10px;
    button {
      &::after {
        @include corners("rightTop", $color-blue, 21px, 4px, 100%);
      }

      &::before {
        @include corners("leftBot", $color-blue, 21px, 4px, 100%);
      }

      &::after,
      &::before {
        @include mobileXL {
          width: 31px;
        }
        @include desktopS {
          width: 61px;
        }
      }
    }
  }

  &--green {
    button {
      margin-top: 20px;

      &::after {
        @include corners("rightTop", $color-green, 21px, 4px, 100%);
      }

      &::before {
        @include corners("leftBot", $color-green, 21px, 4px, 100%);
      }
    }
  }
}

.backIcon {
  position: relative;
  top: 0;
  left: 0;
}
.freepik {
  position: relative;
  text-align: center;
  font-size: 11px;
  margin: 32px 0 10px;
  z-index: 2;
  &--menu {
    a {
      color: rgb(17, 205, 254);
    }
  }
  @include mobileM {
    font-size: 12px;
  }
  @include mobileL {
    font-size: 13px;
    margin-top: 12px;
  }
  @include mobileXL {
    margin-top: 23px;
  }
  @include tablet {
    margin-top: 54px;
  }
}
button {
  &:hover {
    cursor: pointer;
  }
}

@keyframes showEffect {
  100% {
    transform: scale(100%);
  }
}

@keyframes fluidEffect {
  0%,
  100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@mixin cornerForNewTaskBtn($width) {
  &::after {
    @include corners("leftTop", $color-blue, $width, 5px, 20%);
  }

  &::before {
    @include corners("rightBot", $color-blue, $width, 5px, 20%);
  }

  span {
    &::after {
      @include corners("rightTop", $color-blue, $width, 5px, 20%);
    }

    &::before {
      @include corners("leftBot", $color-blue, $width, 5px, 20%);
    }
  }
}
